In [1]:
tup = ("orsan", 4, True, 72.0, "A")

In [2]:
tup

('orsan', 4, True, 72.0, 'A')

In [4]:
tup[-1]

'A'

In [5]:
tup + (2, "A")

('orsan', 4, True, 72.0, 'A', 2, 'A')

In [6]:
tup

('orsan', 4, True, 72.0, 'A')

In [7]:
tup[1:2]

(4,)

In [8]:
tup[2:4]

(True, 72.0)

In [9]:
len(tup)

5

In [10]:
tup

('orsan', 4, True, 72.0, 'A')

In [11]:
tup[2:]

(True, 72.0, 'A')

In [12]:
tup[:2]

('orsan', 4)

In [13]:
tup[::2]

('orsan', True, 'A')

In [14]:
tup[1] = "S"

TypeError: 'tuple' object does not support item assignment

In [15]:
tup[0][1]

'r'

In [16]:
a = (14, 2, 'Orsan', (7.25,-23))

In [17]:
a[-1]

(7.25, -23)

In [19]:
a[-1][0] = 6.25

TypeError: 'tuple' object does not support item assignment

In [20]:
a = (14, 2, 'Orsan', [7.25,-23])

In [22]:
a[-1][0] = 6

In [23]:
a

(14, 2, 'Orsan', [6, -23])

In [24]:
x = -12
y = 3/4
z = "Orsan"

In [25]:
x, y, z = -12, 3/4, "Orsan"
x,y,z

(-12, 0.75, 'Orsan')

In [26]:
x,y = y,x
x,y

(0.75, -12)

In [27]:
#########################
## EXAMPLE: returning a tuple
#########################
def quotient_and_remainder(x, y):
    q = x // y
    r = x % y
    return (q, r)
    
(quot, rem) = quotient_and_remainder(5,3)
print(quot)
print(rem)

1
2

In [28]:
tup

('orsan', 4, True, 72.0, 'A')

In [29]:
for i in range(len(tup)): 
    print(i, tup[i])

0 orsan
1 4
2 True
3 72.0
4 A

In [30]:
for i in (tup): 
    print(i)

orsan
4
True
72.0
A

In [ ]:
((34, "a"), (42, "orsan"), (25, "a"))

num = (34, 42, 25)

words = ("a", "orsan")

25, 42, 2

In [35]:
#########################
## EXAMPLE: iterating over tuples
#########################
def get_dataOld(aTuple):
    """
    aTuple, tuple of tuples (int, string)
    Extracts all integers from aTuple and sets 
    them as elements in a new tuple. 
    Extracts all unique strings from aTuple 
    and sets them as elements in a new tuple.
    Returns a tuple of the minimum integer, the
    maximum integer, and the number of unique strings
    """
    nums = ()    # empty tuple
    words = ()
    for t in aTuple:
        print(t, nums, words)
        # concatenating with a singleton tuple
        nums = nums + (t[0],)   
        # only add words haven't added before
        if t[1] not in words:   
            words = words + (t[1],)
        print("\t", nums, words)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return (min_n, max_n, unique_words)

test = ((1,"a"),(2,"b"),
        (1,"a"),(7,"b")) #,("o", 5)) #, , ("z", "d"))

(minV, MaxV, UniqV) = get_data(test)
print("minV:",minV,"MaxV:",MaxV,"UniqV:",UniqV)

(1, 'a') () ()
	 (1,) ('a',)
(2, 'b') (1,) ('a',)
	 (1, 2) ('a', 'b')
(1, 'a') (1, 2) ('a', 'b')
	 (1, 2, 1) ('a', 'b')
(7, 'b') (1, 2, 1) ('a', 'b')
	 (1, 2, 1, 7) ('a', 'b')
minV: 1 MaxV: 7 UniqV: 2

In [37]:
#########################
## EXAMPLE: iterating over tuples
#########################
def get_data(aTuple):
    """
    aTuple, tuple of tuples (int, string)
    Extracts all integers from aTuple and sets 
    them as elements in a new tuple. 
    Extracts all unique strings from aTuple 
    and sets them as elements in a new tuple.
    Returns a tuple of the minimum integer, the
    maximum integer, and the number of unique strings
    """
    nums = ()    # empty tuple
    words = ()
    for t in aTuple:
        print(t, nums, words)
        # concatenating with a singleton tuple
        if (type(t[0])==int) and (type(t[1])==str): 
            nums = nums + (t[0],)   
            # only add words haven't added before
            if t[1] not in words:   
                words = words + (t[1],)
        if (type(t[0])==str) and (type(t[1])==int): 
            nums = nums + (t[1],)   
            # only add words haven't added before
            if t[0] not in words:   
                words = words + (t[0],)
        print("\t", nums, words)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return (min_n, max_n, unique_words)

test = ((1,"a"),(2,"b"),
        (1,"a"),(7,"b"),("o", 5), ("z", "d"))

(minV, MaxV, UniqV) = get_data(test)
print("minV:",minV,"MaxV:",MaxV,"UniqV:",UniqV)

(1, 'a') () ()
	 (1,) ('a',)
(2, 'b') (1,) ('a',)
	 (1, 2) ('a', 'b')
(1, 'a') (1, 2) ('a', 'b')
	 (1, 2, 1) ('a', 'b')
(7, 'b') (1, 2, 1) ('a', 'b')
	 (1, 2, 1, 7) ('a', 'b')
('o', 5) (1, 2, 1, 7) ('a', 'b')
	 (1, 2, 1, 7, 5) ('a', 'b', 'o')
('z', 'd') (1, 2, 1, 7, 5) ('a', 'b', 'o')
	 (1, 2, 1, 7, 5) ('a', 'b', 'o')
minV: 1 MaxV: 7 UniqV: 3

In [ ]:
#########################
## EXAMPLE: iterating over tuples
#########################
def get_data(aTuple):
    """
    aTuple, tuple of tuples (int, string)
    Extracts all integers from aTuple and sets 
    them as elements in a new tuple. 
    Extracts all unique strings from aTuple 
    and sets them as elements in a new tuple.
    Returns a tuple of the minimum integer, the
    maximum integer, and the number of unique strings
    """
    nums = ()    # empty tuple
    words = ()
    for t in aTuple:
        #print(t, nums, words)
        if (type(t[0])==int and type(t[1])==str): 
            # concatenating with a singleton tuple
            nums = nums + (t[0],)   
            # only add words haven't added before
            if t[1] not in words:   
                words = words + (t[1],)
            #print("\t", nums, words)
        elif (type(t[1])==int and type(t[0])==str): 
            # concatenating with a singleton tuple
            nums = nums + (t[1],)   
            # only add words haven't added before
            if t[0] not in words:   
                words = words + (t[0],)
            #print("\t", nums, words)
            
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return (min_n, max_n, unique_words)

test = ((1,"a"),(2,"b"),
        (1,"a"),(7,"b"),("o", 5), ("z", "d"))   

(minV, MaxV, UniqV) = get_data(test)
print("minV:",minV,"MaxV:",MaxV,"UniqV:",UniqV)

In [ ]:
type("A") == int

In [38]:
# apply to any data you want!
tswift = ((2014,"Katy"),
          (2014, "Harry"),
          (2010,"Taylor"), 
          (2012,"Jake"),
          ("Jake", 2013), 
          ("Smith", "Anne"),
          (2008,"Joe"), 
          (2015,"Jake"))    
(min_year, max_year, num_people) = get_data(tswift)
print("From", min_year, "to", max_year, \
        "Taylor Swift wrote songs about", num_people, "people!")

(2014, 'Katy') () ()
	 (2014,) ('Katy',)
(2014, 'Harry') (2014,) ('Katy',)
	 (2014, 2014) ('Katy', 'Harry')
(2010, 'Taylor') (2014, 2014) ('Katy', 'Harry')
	 (2014, 2014, 2010) ('Katy', 'Harry', 'Taylor')
(2012, 'Jake') (2014, 2014, 2010) ('Katy', 'Harry', 'Taylor')
	 (2014, 2014, 2010, 2012) ('Katy', 'Harry', 'Taylor', 'Jake')
('Jake', 2013) (2014, 2014, 2010, 2012) ('Katy', 'Harry', 'Taylor', 'Jake')
	 (2014, 2014, 2010, 2012, 2013) ('Katy', 'Harry', 'Taylor', 'Jake')
('Smith', 'Anne') (2014, 2014, 2010, 2012, 2013) ('Katy', 'Harry', 'Taylor', 'Jake')
	 (2014, 2014, 2010, 2012, 2013) ('Katy', 'Harry', 'Taylor', 'Jake')
(2008, 'Joe') (2014, 2014, 2010, 2012, 2013) ('Katy', 'Harry', 'Taylor', 'Jake')
	 (2014, 2014, 2010, 2012, 2013, 2008) ('Katy', 'Harry', 'Taylor', 'Jake', 'Joe')
(2015, 'Jake') (2014, 2014, 2010, 2012, 2013, 2008) ('Katy', 'Harry', 'Taylor', 'Jake', 'Joe')
	 (2014, 2014, 2010, 2012, 2013, 2008, 2015) ('Katy', 'Harry', 'Taylor', 'Jake', 'Joe')
From 2008 to 2015 Taylor Swift wrote songs about 5 people!

In [46]:
L = [5, "hello", (2,3,1), [-1,0,2]]

In [40]:
len(L)

4

In [47]:
L

[5, 'hello', (2, 3, 1), [-1, 0, 2]]

In [42]:
L[-1]

[-1, 0, 2]

In [48]:
L[0] = 4.1
L

[4.1, 'hello', (2, 3, 1), [-1, 0, 2]]

In [49]:
L[2][0] = 12
L

TypeError: 'tuple' object does not support item assignment

In [50]:
L[2] = 12
L

[4.1, 'hello', 12, [-1, 0, 2]]

In [51]:
del L[2]
L

[4.1, 'hello', [-1, 0, 2]]

In [52]:
L[1][1] = "a"
L

TypeError: 'str' object does not support item assignment

In [53]:
range(10)

range(0, 10)

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
list(range(2,10,2))

[2, 4, 6, 8]

In [57]:
for i in range(0,20,2):
    #print(i)
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18

In [58]:
s = "hello"
list(s)

['h', 'e', 'l', 'l', 'o']

In [59]:
t = (1,2,3,4)
list(t)

[1, 2, 3, 4]

In [60]:
s = "hello"
tuple(s)

('h', 'e', 'l', 'l', 'o')

In [61]:
L = ['h', 'e', 'l', 'l', 'o']
"".join(L)

'hello'

In [62]:
L = [4,2,8,3,1,7]
max(L)

8

In [63]:
L = [4,2,8,3,1,7]
min(L)

1

In [64]:
L = [-1,-3, 4, -5, 2]
max(L, key=abs)

-5

In [65]:
sum([11,2,43])

56

In [66]:
sum(L)/len(L)

-0.6

In [67]:
L1 = [4, 5, 9]
L2 = ['a', 'b', 'c']
list(zip(L1, L2))

[(4, 'a'), (5, 'b'), (9, 'c')]

In [68]:
age = [19, 25, 32, 27]
height = [170, 180, 175, 169]
weight = [75, 78, 81, 71]
for y, b, a in zip(age, height, weight):
    print("age:", y, "height:", b, "weight:",a)

age: 19 height: 170 weight: 75
age: 25 height: 180 weight: 78
age: 32 height: 175 weight: 81
age: 27 height: 169 weight: 71

In [69]:
L = [1,2,1,2,2,2,3,3,1,1]
L.count(1)

4

In [70]:
#########################
## EXAMPLE: sum of elements in a list
#########################
def sum_elem_method1(L):
    total = 0 
    for i in range(len(L)): 
        total += L[i] 
    return total
    
print(sum_elem_method1([1,2,3,4]))

10

In [71]:
def sum_elem_method2(L):
    total = 0 
    for i in L: 
        total += i 
    return total

print(sum_elem_method2([1,2,3,4]))

10

In [72]:
#########################
## EXAMPLE: various list operations
## put print(L) at different locations to see how it gets mutated
#########################
L1 = [2,1,3]
L2 = [4,5,6]
L3 = L1 + L2
print(L3)

[2, 1, 3, 4, 5, 6]

In [73]:
L1

[2, 1, 3]

In [74]:
L2

[4, 5, 6]

In [75]:
L1.extend([0,6])
L1

[2, 1, 3, 0, 6]

In [76]:
L3

[2, 1, 3, 4, 5, 6]

In [77]:
L1 = [1, "abc", 3]
L2 = ["xyz", 5]
L1.extend(L2)
L1

[1, 'abc', 3, 'xyz', 5]

In [78]:
L2

['xyz', 5]

In [79]:
L1 = [1, "abc", 3]
L2 = ["xyz", 5]
L1.append(L2)
L1

[1, 'abc', 3, ['xyz', 5]]

In [80]:
L = [2,1,3,6,3,7,0,6,7,9]
L.remove(7)
L

[2, 1, 3, 6, 3, 0, 6, 7, 9]

In [81]:
L.remove(3)
print(L)

[2, 1, 6, 3, 0, 6, 7, 9]

In [82]:
del(L[2])
print(L)

[2, 1, 3, 0, 6, 7, 9]

In [83]:
print(L.pop())
print(L)

9
[2, 1, 3, 0, 6, 7]

In [84]:
s = "I<3 cs"
print(list(s))

['I', '<', '3', ' ', 'c', 's']

In [85]:
print(s.split('<'))

['I', '3 cs']

In [86]:
L = ['a', 'b', 'c']
print(''.join(L))
print('_'.join(L))

abc
a_b_c

In [87]:
L=[9,6,0,3]
print(sorted(L))

[0, 3, 6, 9]

In [88]:
print(L)

[9, 6, 0, 3]

In [89]:
L.sort()
print(L)

[0, 3, 6, 9]

In [90]:
L.reverse()
print(L)

[9, 6, 3, 0]

In [91]:
L = [12, "abc", -4, 11, "abc", 0.25, 64]
L.index("abc")

1

In [92]:
L.index("xyz")

ValueError: 'xyz' is not in list

In [93]:
L = [12, "abc", -4, 11, "abc", 0.25, 64, "abc", 7, 89, "abc"]
loc = L.index("abc")
print(loc)

1

In [94]:
"xyz" in L

False

In [95]:
L.index("abc",loc+1)

4

In [96]:
[i for i,el in enumerate(L) if el=="abc"]

[1, 4, 7, 10]

In [97]:
L = [1, 2, "abc", -45]
L.insert(3, "xyz")            
L

[1, 2, 'abc', 'xyz', -45]

In [98]:
[i for i,el in enumerate(L) if el=="abc"]

[2]

In [99]:
K = []
for i, el in enumerate(L):
    if (el=="abc"):
        K.append(i)
K

[2]

In [100]:
L = [2,1,5,2,"abc",1,"abc",1]
L.remove("abc")
L

[2, 1, 5, 2, 1, 'abc', 1]

In [101]:
L.remove("abc")
L

[2, 1, 5, 2, 1, 1]

In [102]:
L.remove("abc")
L

ValueError: list.remove(x): x not in list

In [103]:
#########################
## EXAMPLE: aliasing
#########################
a = 5
b = a
print("a:",a)
print("b:",b)

a: 5
b: 5

In [104]:
a = 2
print("a:",a)
print("b:",b)

a: 2
b: 5

In [105]:
warm = ['red', 'yellow', 'orange']
hot = warm
hot

['red', 'yellow', 'orange']

In [106]:
warm

['red', 'yellow', 'orange']

In [107]:
warm.append('pink')
print(hot)
print(warm)

['red', 'yellow', 'orange', 'pink']
['red', 'yellow', 'orange', 'pink']

In [108]:
#########################
## EXAMPLE: cloning
#########################
cool = ['blue', 'green', 'grey']
chill = cool[:]
chill.append('black')
print(chill)
print(cool)

['blue', 'green', 'grey', 'black']
['blue', 'green', 'grey']

In [110]:
cool = ['blue', 'green', 'grey']
chill = cool[:]
cool.append('black')
print(chill)
print(cool)

['blue', 'green', 'grey']
['blue', 'green', 'grey', 'black']

In [111]:
cool = ['blue', 'green', 'grey']
chill = cool.copy()
chill.append('black')
print(chill)
print(cool)

['blue', 'green', 'grey', 'black']
['blue', 'green', 'grey']

In [112]:
cool = ['blue', 'green', 'grey']
chill = cool.copy()
cool.append('black')
print(chill)
print(cool)

['blue', 'green', 'grey']
['blue', 'green', 'grey', 'black']

In [113]:
#########################
## EXAMPLE: sorting with/without mutation
#########################
warm = ['red', 'yellow', 'orange']
sortedwarm = warm.sort()
print(warm)
print(sortedwarm)

['orange', 'red', 'yellow']
None

In [114]:
warm = ['red', 'yellow', 'orange']
warm.sort()
print(warm)

['orange', 'red', 'yellow']

In [115]:
cool = ['grey', 'green', 'blue']
sortedcool = sorted(cool)
print(cool)
print(sortedcool)

['grey', 'green', 'blue']
['blue', 'green', 'grey']

In [116]:
L = [-4, -8, 1, 2, 1, 5, 9, 7]
L.sort()
L

[-8, -4, 1, 1, 2, 5, 7, 9]

In [117]:
L = [-4, -8, 1, 2, 1, 5, 9, 7]
L.sort(key=abs)
L

[1, 1, 2, -4, 5, 7, -8, 9]

In [118]:
#########################
## EXAMPLE: lists of lists of lists...
#########################
warm = ['yellow', 'orange']
hot = ['red']
brightcolors = [warm]
brightcolors.append(hot)
print(brightcolors)

[['yellow', 'orange'], ['red']]

In [119]:
hot.append('pink')
print(hot)
print(brightcolors)

['red', 'pink']
[['yellow', 'orange'], ['red', 'pink']]

In [120]:
###############################
## EXAMPLE: mutating a list while iterating over it
###############################
def remove_dups(L1, L2):
    for e in L1:
        print(e)
        if e in L2:
            L1.remove(e)
      

L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups(L1, L2)
print(L1, L2)

1
3
4
[2, 3, 4] [1, 2, 5, 6]

In [121]:
def remove_dups_new(L1, L2):
    L1_copy = L1[:]
    for e in L1_copy:
        print(e)
        if e in L2:
            L1.remove(e)
            
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups_new(L1, L2)
print(L1, L2)

1
2
3
4
[3, 4] [1, 2, 5, 6]

In [122]:
###############################
## EXERCISE: Test yourself by predicting what the output is and 
##           what gets mutated then check with the Python Tutor
###############################
cool = ['blue', 'green']
warm = ['red', 'yellow', 'orange']
print(cool)
print(warm)

['blue', 'green']
['red', 'yellow', 'orange']

In [123]:
colors1 = [cool]
print(colors1)
colors1.append(warm)
print('colors1 = ', colors1)

[['blue', 'green']]
colors1 =  [['blue', 'green'], ['red', 'yellow', 'orange']]

In [124]:
len(colors1)

2

In [125]:
colors2 = [['blue', 'green'],
          ['red', 'yellow', 'orange']]
print('colors2 =', colors2)

colors2 = [['blue', 'green'], ['red', 'yellow', 'orange']]

In [126]:
warm.remove('red') 
print('warm = ', warm)
print('colors1 = ', colors1)
print('colors2 =', colors2)

warm =  ['yellow', 'orange']
colors1 =  [['blue', 'green'], ['yellow', 'orange']]
colors2 = [['blue', 'green'], ['red', 'yellow', 'orange']]

In [127]:
for e in colors1:
    print('e =', e)

e = ['blue', 'green']
e = ['yellow', 'orange']

In [128]:
for e in colors1:
    if type(e) == list:
        for e1 in e:
            print(e1)
    else:
        print(e)

blue
green
yellow
orange

In [129]:
flat = cool + warm
print('flat =', flat)

flat = ['blue', 'green', 'yellow', 'orange']

In [130]:
print(flat.sort())
print('flat =', flat)

None
flat = ['blue', 'green', 'orange', 'yellow']

In [ ]:
new_flat = sorted(flat, reverse = True)
print('flat =', flat)
print('new_flat =', new_flat)

In [ ]:
cool[1] = 'black'
print(cool)
print(colors1)

In [ ]:
print(colors2)

In [131]:
L  = [None]*10

In [132]:
L

[None, None, None, None, None, None, None, None, None, None]

In [133]:
L  = [0]*10
L

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [134]:
L[3]= 672
L

[0, 0, 0, 672, 0, 0, 0, 0, 0, 0]