# Python and Excel

In [23]:
# Import pandas
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None  # default='warn'

In [24]:
df = pd.read_excel('example.xlsx')
df.head()

,StudentID,Name,LastName,Department,MT1,MT2,MT3,PRJ,Q1,TOTAL,Grade
0,S000497,Miracle,Pham,ME,63,55,67,55,5,62.85,C+
1,S002233,Martha,Li,IE,62,54,39,60,5,54.70,C-
2,S000500,Roger,Rollins,IE,55,26,45,30,5,43.25,F
3,S003712,Giovanni,Rowland,CS,54,52,60,75,5,60.75,C+
4,S000507,Josephine,Carpenter,IE,47,36,67,60,5,54.85,C-

In [25]:
df

,StudentID,Name,LastName,Department,MT1,MT2,MT3,PRJ,Q1,TOTAL,Grade
0,S000497,Miracle,Pham,ME,63,55,67,55,5,62.85,C+
1,S002233,Martha,Li,IE,62,54,39,60,5,54.70,C-
2,S000500,Roger,Rollins,IE,55,26,45,30,5,43.25,F
3,S003712,Giovanni,Rowland,CS,54,52,60,75,5,60.75,C+
4,S000507,Josephine,Carpenter,IE,47,36,67,60,5,54.85,C-
...,...,...,...,...,...,...,...,...,...,...,...
103,S000951,Nathanael,Benton,IE,57,51,76,65,5,64.55,B-
104,S000953,Johnathan,Barnes,IE,80,74,68,55,5,72.15,A-
105,S000419,Alijah,Chapman,IE,65,31,57,30,5,50.60,D+
106,S000746,Britney,Casey,IE,74,74,40,55,5,62.25,C+
107,S000842,Jadiel,Terrell,IE,61,74,68,55,5,67.40,B

In [26]:
df1 = pd.read_excel('example.xlsx', sheet_name='Grades')

In [27]:
df1.head()

,StudentID,Name,LastName,Department,MT1,MT2,MT3,PRJ,Q1,TOTAL,Grade
0,S000497,Miracle,Pham,ME,63,55,67,55,5,62.85,C+
1,S002233,Martha,Li,IE,62,54,39,60,5,54.70,C-
2,S000500,Roger,Rollins,IE,55,26,45,30,5,43.25,F
3,S003712,Giovanni,Rowland,CS,54,52,60,75,5,60.75,C+
4,S000507,Josephine,Carpenter,IE,47,36,67,60,5,54.85,C-

In [28]:
dfNew = df1.copy()
dfNew["Pass"] = np.where(dfNew['TOTAL']>50, 1, 0)
dfNew.head()

,StudentID,Name,LastName,Department,MT1,MT2,MT3,PRJ,Q1,TOTAL,Grade,Pass
0,S000497,Miracle,Pham,ME,63,55,67,55,5,62.85,C+,1
1,S002233,Martha,Li,IE,62,54,39,60,5,54.70,C-,1
2,S000500,Roger,Rollins,IE,55,26,45,30,5,43.25,F,0
3,S003712,Giovanni,Rowland,CS,54,52,60,75,5,60.75,C+,1
4,S000507,Josephine,Carpenter,IE,47,36,67,60,5,54.85,C-,1

In [29]:
dfNew.to_excel("output.xlsx",
             sheet_name='GradesUpdated')

In [30]:
dfNew.to_excel("output.xlsx",
             sheet_name='GradesUpdated', index=False)

In [31]:
with pd.ExcelWriter('output.xlsx', engine="openpyxl",
                    mode='a') as writer:  
    dfNew.to_excel(writer, sheet_name='GradesUpdated2', index=False)

In [32]:
df2 = pd.read_excel('example.xlsx', sheet_name='Grades', index_col = 0)
df2.head()

,Name,LastName,Department,MT1,MT2,MT3,PRJ,Q1,TOTAL,Grade
StudentID,,,,,,,,,,
S000497,Miracle,Pham,ME,63,55,67,55,5,62.85,C+
S002233,Martha,Li,IE,62,54,39,60,5,54.70,C-
S000500,Roger,Rollins,IE,55,26,45,30,5,43.25,F
S003712,Giovanni,Rowland,CS,54,52,60,75,5,60.75,C+
S000507,Josephine,Carpenter,IE,47,36,67,60,5,54.85,C-

In [33]:
df3 = pd.read_excel('example.xlsx', sheet_name='Grades', header = None, skiprows=1, index_col = 0)
df3.head()

                1          2   3   4   5   6   7   8      9   10
0
S000497    Miracle       Pham  ME  63  55  67  55   5  62.85  C+
S002233     Martha         Li  IE  62  54  39  60   5  54.70  C-
S000500      Roger    Rollins  IE  55  26  45  30   5  43.25   F
S003712   Giovanni    Rowland  CS  54  52  60  75   5  60.75  C+
S000507  Josephine  Carpenter  IE  47  36  67  60   5  54.85  C-

In [34]:
df2 = pd.read_excel('example.xlsx', sheet_name='Grades', index_col = 0, usecols="A,B,C,D,E,F,G,J,K")
df2.head()

                Name   LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle       Pham         ME   63   55   67  62.85    C+
S002233       Martha         Li         IE   62   54   39  54.70    C-
S000500        Roger    Rollins         IE   55   26   45  43.25     F
S003712     Giovanni    Rowland         CS   54   52   60  60.75    C+
S000507    Josephine  Carpenter         IE   47   36   67  54.85    C-

In [35]:
df2["TOTAL"].head(10)

StudentID
S000497    62.85
S002233    54.70
S000500    43.25
S003712    60.75
S000507    54.85
S000513    66.60
S000516    46.70
S000518    67.00
S001379    57.10
S000233    52.35
Name: TOTAL, dtype: float64

In [36]:
df2.tail()

                Name LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000951    Nathanael   Benton         IE   57   51   76  64.55    B-
S000953    Johnathan   Barnes         IE   80   74   68  72.15    A-
S000419       Alijah  Chapman         IE   65   31   57  50.60    D+
S000746      Britney    Casey         IE   74   74   40  62.25    C+
S000842       Jadiel  Terrell         IE   61   74   68  67.40     B

In [37]:
df2

                Name   LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle       Pham         ME   63   55   67  62.85    C+
S002233       Martha         Li         IE   62   54   39  54.70    C-
S000500        Roger    Rollins         IE   55   26   45  43.25     F
S003712     Giovanni    Rowland         CS   54   52   60  60.75    C+
S000507    Josephine  Carpenter         IE   47   36   67  54.85    C-
...              ...        ...        ...  ...  ...  ...    ...   ...
S000951    Nathanael     Benton         IE   57   51   76  64.55    B-
S000953    Johnathan     Barnes         IE   80   74   68  72.15    A-
S000419       Alijah    Chapman         IE   65   31   57  50.60    D+
S000746      Britney      Casey         IE   74   74   40  62.25    C+
S000842       Jadiel    Terrell         IE   61   74   68  67.40     B

[108 rows x 8 columns]

In [38]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199
df2

                Name    LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle        Pham         ME   63   55   67  62.85    C+
S002233       Martha          Li         IE   62   54   39  54.70    C-
S000500        Roger     Rollins         IE   55   26   45  43.25     F
S003712     Giovanni     Rowland         CS   54   52   60  60.75    C+
S000507    Josephine   Carpenter         IE   47   36   67  54.85    C-
S000513         Jean        Mayo         ME   66   55   72  66.60     B
S000516      Derrick       David         EE   26   40   54  46.70     D
S000518        Jamir      Larsen         EE   77   60   65  67.00     B
S001379        Elvis     Donovan         IE   56   30   77  57.10     C
S000233     Maryjane      Levine         ME   62   53   47  52.35    C-
S000525     Serenity   Dougherty         IE   73   29   40  49.25    D+
S000531         Rose   Nicholson         IE   99   96   85  89.75     A
S000535     Annalise        Hull         IE   71   55   64  66.95     B
S000536       Johnny   Christian         IE   60   43   55  55.50    C-
S000245      Phillip   Mcpherson         IE   72   56   80  67.75     B
S000543       Damien      Bowman         IE   68   36   65  56.50     C
S000548        Amaya      Sutton         IE   85   92   93  87.65     A
S000563         Koen      Watson         IE   49   31   66  53.80    C-
S000571        Renee     Marquez         IE   77   38   83  63.90    B-
S000253        Eliza       David         IE   56   75   23  49.15    D+
S000588       Jaycee        Rich         IE   76   35   64  60.20    C+
S001061       Junior    Mcdaniel         IE   41   25   32  37.10     F
S000578       Darren        Choi         CS   48   33   53  49.40    D+
S002154          Lea  Williamson         IE   69   70   80  69.00    B+
S000591       Mariam   Patterson         IE   30   27   39  39.20     F
S001499        Lamar      Davila         IE   77   43   70  62.00    C+
S005294      Corinne      Prince         IE   55   45   30  50.25    D+
S000597        Jalen      Gentry         IE   97   81   90  87.75     A
S001509       Arturo       Costa         IE   66   53   59  60.70    C+
S000602      Cecilia       Singh         IE   59   52   59  50.45    D+
S000608     Scarlett     Solomon         IE   72   63   76  69.80    B+
S000612       Ulises      Mosley         IE   83   67   81  75.80    A-
S000627         Chad      Steele         IE   80   92   92  84.60     A
S000629         Lola     Lambert         IE   65   38   52  52.35    C-
S000641      Bethany     Proctor         IE   78   66   67  67.85     B
S000642        Ronin    Cisneros         IE   50   35   67  52.35    C-
S001567          Gia        Kent         IE   47   34   33  40.40     F
S000665     Rosemary        Pham         CS   60   48   64  61.70    C+
S001599        Isiah      Dillon         IE   69   92   79  76.45    A-
S000477         Sara       Braun         IE   61   63   52  56.85     C
S000299        Jerry      Guerra         IE   63   38   68  58.15     C
S000686       Samson      Cuevas         IE   70   36   61  55.05    C-
S000688      Breanna   Patterson         IE   49   41   25  45.50     F
S000696    Alejandro      Barton         IE   78   55   73  69.90    B+
S001638       Dayami      Zuniga         IE   65   44   34  50.70    D+
S001639        Jesse       Watts         IE   45   55   51  50.55    D+
S000702      Gustavo        Byrd         CS   55   36   45  48.75    D+
S000746      Britney       Casey         CS   74   74   40  62.25    C+
S000337       Alison      Harper         CS   55   46   56  54.55    C-
S000762       Raquel     Merritt         IE   57   61   43  51.90    C-
S000779       Isaiah      Jensen         IE   64   44   62  50.60    D+
S001746        Kylan       David         IE   41   59   89  64.20    B-
S001748         Kyra      Campos         IE   64   31   62  52.60    C-
S000346        Alexa     Bradley         EE   55   57   31  53.55    C-
S001750       Kaelyn       Petty         EE   72   62   45  58.00     C
S000793     Savannah        Dunn         IE   46   29   50  42.50     F
S000805        Paola          Wu         IE   68   50   54  54.45    C-
S000809      Raelynn   Patterson         CS   74   45   66  62.05    C+
S000817       Haiden     Houston         IE   81   65   82  75.85    A-
S000823        Marco        Howe         IE   69   51   68  66.65     B
S000830       Shamar      Martin         IE   63   49   34  49.20    D+
S000832         Reed     Alvarez         IE   55   19   54  44.95     F
S000370      Carolyn      Rivers         IE   48   39   29  41.45     F
S000371        Damon    Humphrey         IE   61   68   72  67.85     B
S000372       London      Holden         IE   55   49   65  61.00    C+
S000835          Roy    Stephens         IE   68   36   75  57.25     C
S000839        Emely    Browning         IE   66   49   70  60.00    C+
S000840       Kianna    Harrison         IE   58   44   34  47.45     D
S000842       Jadiel     Terrell         IE   61   74   68  67.40     B
S001813        Regan      Glover         IE   21   30   43  35.90     F
S001025      Rodrigo     Douglas         IE   51   41   25  44.50     F
S000381        Tamia     Sanford         IE   46   29   31  39.05     F
S002127      Kathryn     Francis         IE   41   35   16  34.05     F
S000864        Perla       Allen         IE   68   52   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   65   84   69  71.95    A-
S000879        Paula     Gilmore         IE   39   17   21  29.80     F
S000394       Kailyn       Gibbs         IE   55   26   53  49.40    D+
S000397        Jayla      Haynes         IE   39   27   49  40.70     F
S001883       Jayden      Mccann         IE   35   41    2  29.10     F
S001889      Kaitlyn       Huang         IE   66   47   46  47.05     D
S001892        Lukas        Yang         IE   50   21   50  43.00     F
S000896        Maria      Bowers         IE   85   49   54  59.95    C+
S000899       Jaelyn      Brandt         IE    0    0    0   5.00     F
S000901       Adolfo    Marshall         IE   69   66   72  69.35    B+
S002127      Kathryn     Francis         ME   41   35   16  34.05     F
S000864        Perla       Allen         IE   68   52   73  62.90    C+
S000516      Derrick       David         ME   26   40   54  46.70     D
S000899       Jaelyn      Brandt         IE    0    0    0   5.00     F
S005294      Corinne      Prince         ME   55   45   30  50.25    D+
S000516      Derrick       David         ME   26   40   54  46.70     D
S000899       Jaelyn      Brandt         ME    0    0    0   5.00     F
S000964         Cali    Bradshaw         IE   70   59   71  67.55     B
S000967        Marin        Chan         IE   68   30   65  59.50    C+
S000989         Niko       Doyle         IE   76  100   99  89.20     A
S000990      Madisyn      Watson         IE   58   56   66  60.80    C+
S000434       Chanel     Holland         IE   84   36   35  53.75    C-
S000999       Oliver       Ellis         IE   68   41   50  58.50     C
S000842       Jadiel     Terrell         EE   61   74   68  67.40     B
S001892        Lukas        Yang         EE   50   21   50  43.00     F
S000915       Dakota        Pugh         IE   64   36   52  51.60    C-
S000929      Ireland    Matthews         IE   62   59   59  61.20    C+
S000932         Erik   Patterson         IE   60    0    0  20.00     F
S000944       Emilee      Travis         IE   53   23   31  43.80     F
S000951    Nathanael      Benton         IE   57   51   76  64.55    B-
S000953    Johnathan      Barnes         IE   80   74   68  72.15    A-
S000419       Alijah     Chapman         IE   65   31   57  50.60    D+
S000746      Britney       Casey         IE   74   74   40  62.25    C+
S000842       Jadiel     Terrell         IE   61   74   68  67.40     B

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, S000497 to S000842
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        108 non-null    object
 1   LastName    108 non-null    object
 2   Department  108 non-null    object
 3   MT1         108 non-null    int64
 4   MT2         108 non-null    int64
 5   MT3         108 non-null    int64
 6   TOTAL       108 non-null    float64
 7   Grade       108 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 7.6+ KB

In [40]:
df2.shape[0]

108

In [41]:
df2.shape[1]

8

In [42]:
df2.dtypes

Name           object
LastName       object
Department     object
MT1             int64
MT2             int64
MT3             int64
TOTAL         float64
Grade          object
dtype: object

In [43]:
df2[["MT1", "TOTAL"]].head(10)

           MT1  TOTAL
StudentID
S000497     63  62.85
S002233     62  54.70
S000500     55  43.25
S003712     54  60.75
S000507     47  54.85
S000513     66  66.60
S000516     26  46.70
S000518     77  67.00
S001379     56  57.10
S000233     62  52.35

In [44]:
df2[df2["Grade"].isin(["C+"])]

               Name   LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497     Miracle       Pham         ME   63   55   67  62.85    C+
S003712    Giovanni    Rowland         CS   54   52   60  60.75    C+
S000588      Jaycee       Rich         IE   76   35   64  60.20    C+
S001499       Lamar     Davila         IE   77   43   70  62.00    C+
S001509      Arturo      Costa         IE   66   53   59  60.70    C+
S000665    Rosemary       Pham         CS   60   48   64  61.70    C+
S000746     Britney      Casey         CS   74   74   40  62.25    C+
S000809     Raelynn  Patterson         CS   74   45   66  62.05    C+
S000372      London     Holden         IE   55   49   65  61.00    C+
S000839       Emely   Browning         IE   66   49   70  60.00    C+
S000864       Perla      Allen         IE   68   52   73  62.90    C+
S000896       Maria     Bowers         IE   85   49   54  59.95    C+
S000864       Perla      Allen         IE   68   52   73  62.90    C+
S000967       Marin       Chan         IE   68   30   65  59.50    C+
S000990     Madisyn     Watson         IE   58   56   66  60.80    C+
S000929     Ireland   Matthews         IE   62   59   59  61.20    C+
S000746     Britney      Casey         IE   74   74   40  62.25    C+

In [45]:
df2[df2["Grade"].isin(["A", "A-"])]

                Name   LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000531         Rose  Nicholson         IE   99   96   85  89.75     A
S000548        Amaya     Sutton         IE   85   92   93  87.65     A
S000597        Jalen     Gentry         IE   97   81   90  87.75     A
S000612       Ulises     Mosley         IE   83   67   81  75.80    A-
S000627         Chad     Steele         IE   80   92   92  84.60     A
S001599        Isiah     Dillon         IE   69   92   79  76.45    A-
S000817       Haiden    Houston         IE   81   65   82  75.85    A-
S000869      Osvaldo   Sullivan         IE   65   84   69  71.95    A-
S000989         Niko      Doyle         IE   76  100   99  89.20     A
S000953    Johnathan     Barnes         IE   80   74   68  72.15    A-

In [46]:
df2[df2["Grade"].isin(["A-"]) & df2["MT1"].isin([83])]

             Name LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000612    Ulises   Mosley         IE   83   67   81   75.8    A-

In [47]:
df2[(df2["Grade"]=="A") & (df2["MT1"]> 80)]

            Name   LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000531     Rose  Nicholson         IE   99   96   85  89.75     A
S000548    Amaya     Sutton         IE   85   92   93  87.65     A
S000597    Jalen     Gentry         IE   97   81   90  87.75     A

In [48]:
df2[df2["LastName"].map(lambda x: x.endswith('on'))]

                Name    LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000531         Rose   Nicholson         IE   99   96   85  89.75     A
S000245      Phillip   Mcpherson         IE   72   56   80  67.75     B
S000548        Amaya      Sutton         IE   85   92   93  87.65     A
S000563         Koen      Watson         IE   49   31   66  53.80    C-
S002154          Lea  Williamson         IE   69   70   80  69.00    B+
S000591       Mariam   Patterson         IE   30   27   39  39.20     F
S000608     Scarlett     Solomon         IE   72   63   76  69.80    B+
S001599        Isiah      Dillon         IE   69   92   79  76.45    A-
S000688      Breanna   Patterson         IE   49   41   25  45.50     F
S000696    Alejandro      Barton         IE   78   55   73  69.90    B+
S000809      Raelynn   Patterson         CS   74   45   66  62.05    C+
S000817       Haiden     Houston         IE   81   65   82  75.85    A-
S000840       Kianna    Harrison         IE   58   44   34  47.45     D
S000990      Madisyn      Watson         IE   58   56   66  60.80    C+
S000932         Erik   Patterson         IE   60    0    0  20.00     F
S000951    Nathanael      Benton         IE   57   51   76  64.55    B-

In [55]:
df2.drop_duplicates?

In [50]:
df2.drop_duplicates()

                Name    LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle        Pham         ME   63   55   67  62.85    C+
S002233       Martha          Li         IE   62   54   39  54.70    C-
S000500        Roger     Rollins         IE   55   26   45  43.25     F
S003712     Giovanni     Rowland         CS   54   52   60  60.75    C+
S000507    Josephine   Carpenter         IE   47   36   67  54.85    C-
S000513         Jean        Mayo         ME   66   55   72  66.60     B
S000516      Derrick       David         EE   26   40   54  46.70     D
S000518        Jamir      Larsen         EE   77   60   65  67.00     B
S001379        Elvis     Donovan         IE   56   30   77  57.10     C
S000233     Maryjane      Levine         ME   62   53   47  52.35    C-
S000525     Serenity   Dougherty         IE   73   29   40  49.25    D+
S000531         Rose   Nicholson         IE   99   96   85  89.75     A
S000535     Annalise        Hull         IE   71   55   64  66.95     B
S000536       Johnny   Christian         IE   60   43   55  55.50    C-
S000245      Phillip   Mcpherson         IE   72   56   80  67.75     B
S000543       Damien      Bowman         IE   68   36   65  56.50     C
S000548        Amaya      Sutton         IE   85   92   93  87.65     A
S000563         Koen      Watson         IE   49   31   66  53.80    C-
S000571        Renee     Marquez         IE   77   38   83  63.90    B-
S000253        Eliza       David         IE   56   75   23  49.15    D+
S000588       Jaycee        Rich         IE   76   35   64  60.20    C+
S001061       Junior    Mcdaniel         IE   41   25   32  37.10     F
S000578       Darren        Choi         CS   48   33   53  49.40    D+
S002154          Lea  Williamson         IE   69   70   80  69.00    B+
S000591       Mariam   Patterson         IE   30   27   39  39.20     F
S001499        Lamar      Davila         IE   77   43   70  62.00    C+
S005294      Corinne      Prince         IE   55   45   30  50.25    D+
S000597        Jalen      Gentry         IE   97   81   90  87.75     A
S001509       Arturo       Costa         IE   66   53   59  60.70    C+
S000602      Cecilia       Singh         IE   59   52   59  50.45    D+
S000608     Scarlett     Solomon         IE   72   63   76  69.80    B+
S000612       Ulises      Mosley         IE   83   67   81  75.80    A-
S000627         Chad      Steele         IE   80   92   92  84.60     A
S000629         Lola     Lambert         IE   65   38   52  52.35    C-
S000641      Bethany     Proctor         IE   78   66   67  67.85     B
S000642        Ronin    Cisneros         IE   50   35   67  52.35    C-
S001567          Gia        Kent         IE   47   34   33  40.40     F
S000665     Rosemary        Pham         CS   60   48   64  61.70    C+
S001599        Isiah      Dillon         IE   69   92   79  76.45    A-
S000477         Sara       Braun         IE   61   63   52  56.85     C
S000299        Jerry      Guerra         IE   63   38   68  58.15     C
S000686       Samson      Cuevas         IE   70   36   61  55.05    C-
S000688      Breanna   Patterson         IE   49   41   25  45.50     F
S000696    Alejandro      Barton         IE   78   55   73  69.90    B+
S001638       Dayami      Zuniga         IE   65   44   34  50.70    D+
S001639        Jesse       Watts         IE   45   55   51  50.55    D+
S000702      Gustavo        Byrd         CS   55   36   45  48.75    D+
S000746      Britney       Casey         CS   74   74   40  62.25    C+
S000337       Alison      Harper         CS   55   46   56  54.55    C-
S000762       Raquel     Merritt         IE   57   61   43  51.90    C-
S000779       Isaiah      Jensen         IE   64   44   62  50.60    D+
S001746        Kylan       David         IE   41   59   89  64.20    B-
S001748         Kyra      Campos         IE   64   31   62  52.60    C-
S000346        Alexa     Bradley         EE   55   57   31  53.55    C-
S001750       Kaelyn       Petty         EE   72   62   45  58.00     C
S000793     Savannah        Dunn         IE   46   29   50  42.50     F
S000805        Paola          Wu         IE   68   50   54  54.45    C-
S000809      Raelynn   Patterson         CS   74   45   66  62.05    C+
S000817       Haiden     Houston         IE   81   65   82  75.85    A-
S000823        Marco        Howe         IE   69   51   68  66.65     B
S000830       Shamar      Martin         IE   63   49   34  49.20    D+
S000832         Reed     Alvarez         IE   55   19   54  44.95     F
S000370      Carolyn      Rivers         IE   48   39   29  41.45     F
S000371        Damon    Humphrey         IE   61   68   72  67.85     B
S000372       London      Holden         IE   55   49   65  61.00    C+
S000835          Roy    Stephens         IE   68   36   75  57.25     C
S000839        Emely    Browning         IE   66   49   70  60.00    C+
S000840       Kianna    Harrison         IE   58   44   34  47.45     D
S000842       Jadiel     Terrell         IE   61   74   68  67.40     B
S001813        Regan      Glover         IE   21   30   43  35.90     F
S001025      Rodrigo     Douglas         IE   51   41   25  44.50     F
S000381        Tamia     Sanford         IE   46   29   31  39.05     F
S002127      Kathryn     Francis         IE   41   35   16  34.05     F
S000864        Perla       Allen         IE   68   52   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   65   84   69  71.95    A-
S000879        Paula     Gilmore         IE   39   17   21  29.80     F
S000394       Kailyn       Gibbs         IE   55   26   53  49.40    D+
S000397        Jayla      Haynes         IE   39   27   49  40.70     F
S001883       Jayden      Mccann         IE   35   41    2  29.10     F
S001889      Kaitlyn       Huang         IE   66   47   46  47.05     D
S001892        Lukas        Yang         IE   50   21   50  43.00     F
S000896        Maria      Bowers         IE   85   49   54  59.95    C+
S000899       Jaelyn      Brandt         IE    0    0    0   5.00     F
S000901       Adolfo    Marshall         IE   69   66   72  69.35    B+
S002127      Kathryn     Francis         ME   41   35   16  34.05     F
S000516      Derrick       David         ME   26   40   54  46.70     D
S005294      Corinne      Prince         ME   55   45   30  50.25    D+
S000899       Jaelyn      Brandt         ME    0    0    0   5.00     F
S000964         Cali    Bradshaw         IE   70   59   71  67.55     B
S000967        Marin        Chan         IE   68   30   65  59.50    C+
S000989         Niko       Doyle         IE   76  100   99  89.20     A
S000990      Madisyn      Watson         IE   58   56   66  60.80    C+
S000434       Chanel     Holland         IE   84   36   35  53.75    C-
S000999       Oliver       Ellis         IE   68   41   50  58.50     C
S000842       Jadiel     Terrell         EE   61   74   68  67.40     B
S001892        Lukas        Yang         EE   50   21   50  43.00     F
S000915       Dakota        Pugh         IE   64   36   52  51.60    C-
S000929      Ireland    Matthews         IE   62   59   59  61.20    C+
S000932         Erik   Patterson         IE   60    0    0  20.00     F
S000944       Emilee      Travis         IE   53   23   31  43.80     F
S000951    Nathanael      Benton         IE   57   51   76  64.55    B-
S000953    Johnathan      Barnes         IE   80   74   68  72.15    A-
S000419       Alijah     Chapman         IE   65   31   57  50.60    D+
S000746      Britney       Casey         IE   74   74   40  62.25    C+

In [54]:
df2.drop_duplicates(subset=['LastName'])

                Name    LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle        Pham         ME   63   55   67  62.85    C+
S002233       Martha          Li         IE   62   54   39  54.70    C-
S000500        Roger     Rollins         IE   55   26   45  43.25     F
S003712     Giovanni     Rowland         CS   54   52   60  60.75    C+
S000507    Josephine   Carpenter         IE   47   36   67  54.85    C-
S000513         Jean        Mayo         ME   66   55   72  66.60     B
S000516      Derrick       David         EE   26   40   54  46.70     D
S000518        Jamir      Larsen         EE   77   60   65  67.00     B
S001379        Elvis     Donovan         IE   56   30   77  57.10     C
S000233     Maryjane      Levine         ME   62   53   47  52.35    C-
S000525     Serenity   Dougherty         IE   73   29   40  49.25    D+
S000531         Rose   Nicholson         IE   99   96   85  89.75     A
S000535     Annalise        Hull         IE   71   55   64  66.95     B
S000536       Johnny   Christian         IE   60   43   55  55.50    C-
S000245      Phillip   Mcpherson         IE   72   56   80  67.75     B
S000543       Damien      Bowman         IE   68   36   65  56.50     C
S000548        Amaya      Sutton         IE   85   92   93  87.65     A
S000563         Koen      Watson         IE   49   31   66  53.80    C-
S000571        Renee     Marquez         IE   77   38   83  63.90    B-
S000588       Jaycee        Rich         IE   76   35   64  60.20    C+
S001061       Junior    Mcdaniel         IE   41   25   32  37.10     F
S000578       Darren        Choi         CS   48   33   53  49.40    D+
S002154          Lea  Williamson         IE   69   70   80  69.00    B+
S000591       Mariam   Patterson         IE   30   27   39  39.20     F
S001499        Lamar      Davila         IE   77   43   70  62.00    C+
S005294      Corinne      Prince         IE   55   45   30  50.25    D+
S000597        Jalen      Gentry         IE   97   81   90  87.75     A
S001509       Arturo       Costa         IE   66   53   59  60.70    C+
S000602      Cecilia       Singh         IE   59   52   59  50.45    D+
S000608     Scarlett     Solomon         IE   72   63   76  69.80    B+
S000612       Ulises      Mosley         IE   83   67   81  75.80    A-
S000627         Chad      Steele         IE   80   92   92  84.60     A
S000629         Lola     Lambert         IE   65   38   52  52.35    C-
S000641      Bethany     Proctor         IE   78   66   67  67.85     B
S000642        Ronin    Cisneros         IE   50   35   67  52.35    C-
S001567          Gia        Kent         IE   47   34   33  40.40     F
S001599        Isiah      Dillon         IE   69   92   79  76.45    A-
S000477         Sara       Braun         IE   61   63   52  56.85     C
S000299        Jerry      Guerra         IE   63   38   68  58.15     C
S000686       Samson      Cuevas         IE   70   36   61  55.05    C-
S000696    Alejandro      Barton         IE   78   55   73  69.90    B+
S001638       Dayami      Zuniga         IE   65   44   34  50.70    D+
S001639        Jesse       Watts         IE   45   55   51  50.55    D+
S000702      Gustavo        Byrd         CS   55   36   45  48.75    D+
S000746      Britney       Casey         CS   74   74   40  62.25    C+
S000337       Alison      Harper         CS   55   46   56  54.55    C-
S000762       Raquel     Merritt         IE   57   61   43  51.90    C-
S000779       Isaiah      Jensen         IE   64   44   62  50.60    D+
S001748         Kyra      Campos         IE   64   31   62  52.60    C-
S000346        Alexa     Bradley         EE   55   57   31  53.55    C-
S001750       Kaelyn       Petty         EE   72   62   45  58.00     C
S000793     Savannah        Dunn         IE   46   29   50  42.50     F
S000805        Paola          Wu         IE   68   50   54  54.45    C-
S000817       Haiden     Houston         IE   81   65   82  75.85    A-
S000823        Marco        Howe         IE   69   51   68  66.65     B
S000830       Shamar      Martin         IE   63   49   34  49.20    D+
S000832         Reed     Alvarez         IE   55   19   54  44.95     F
S000370      Carolyn      Rivers         IE   48   39   29  41.45     F
S000371        Damon    Humphrey         IE   61   68   72  67.85     B
S000372       London      Holden         IE   55   49   65  61.00    C+
S000835          Roy    Stephens         IE   68   36   75  57.25     C
S000839        Emely    Browning         IE   66   49   70  60.00    C+
S000840       Kianna    Harrison         IE   58   44   34  47.45     D
S000842       Jadiel     Terrell         IE   61   74   68  67.40     B
S001813        Regan      Glover         IE   21   30   43  35.90     F
S001025      Rodrigo     Douglas         IE   51   41   25  44.50     F
S000381        Tamia     Sanford         IE   46   29   31  39.05     F
S002127      Kathryn     Francis         IE   41   35   16  34.05     F
S000864        Perla       Allen         IE   68   52   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   65   84   69  71.95    A-
S000879        Paula     Gilmore         IE   39   17   21  29.80     F
S000394       Kailyn       Gibbs         IE   55   26   53  49.40    D+
S000397        Jayla      Haynes         IE   39   27   49  40.70     F
S001883       Jayden      Mccann         IE   35   41    2  29.10     F
S001889      Kaitlyn       Huang         IE   66   47   46  47.05     D
S001892        Lukas        Yang         IE   50   21   50  43.00     F
S000896        Maria      Bowers         IE   85   49   54  59.95    C+
S000899       Jaelyn      Brandt         IE    0    0    0   5.00     F
S000901       Adolfo    Marshall         IE   69   66   72  69.35    B+
S000964         Cali    Bradshaw         IE   70   59   71  67.55     B
S000967        Marin        Chan         IE   68   30   65  59.50    C+
S000989         Niko       Doyle         IE   76  100   99  89.20     A
S000434       Chanel     Holland         IE   84   36   35  53.75    C-
S000999       Oliver       Ellis         IE   68   41   50  58.50     C
S000915       Dakota        Pugh         IE   64   36   52  51.60    C-
S000929      Ireland    Matthews         IE   62   59   59  61.20    C+
S000944       Emilee      Travis         IE   53   23   31  43.80     F
S000951    Nathanael      Benton         IE   57   51   76  64.55    B-
S000953    Johnathan      Barnes         IE   80   74   68  72.15    A-
S000419       Alijah     Chapman         IE   65   31   57  50.60    D+

In [49]:
df2

                Name    LastName Department  MT1  MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle        Pham         ME   63   55   67  62.85    C+
S002233       Martha          Li         IE   62   54   39  54.70    C-
S000500        Roger     Rollins         IE   55   26   45  43.25     F
S003712     Giovanni     Rowland         CS   54   52   60  60.75    C+
S000507    Josephine   Carpenter         IE   47   36   67  54.85    C-
S000513         Jean        Mayo         ME   66   55   72  66.60     B
S000516      Derrick       David         EE   26   40   54  46.70     D
S000518        Jamir      Larsen         EE   77   60   65  67.00     B
S001379        Elvis     Donovan         IE   56   30   77  57.10     C
S000233     Maryjane      Levine         ME   62   53   47  52.35    C-
S000525     Serenity   Dougherty         IE   73   29   40  49.25    D+
S000531         Rose   Nicholson         IE   99   96   85  89.75     A
S000535     Annalise        Hull         IE   71   55   64  66.95     B
S000536       Johnny   Christian         IE   60   43   55  55.50    C-
S000245      Phillip   Mcpherson         IE   72   56   80  67.75     B
S000543       Damien      Bowman         IE   68   36   65  56.50     C
S000548        Amaya      Sutton         IE   85   92   93  87.65     A
S000563         Koen      Watson         IE   49   31   66  53.80    C-
S000571        Renee     Marquez         IE   77   38   83  63.90    B-
S000253        Eliza       David         IE   56   75   23  49.15    D+
S000588       Jaycee        Rich         IE   76   35   64  60.20    C+
S001061       Junior    Mcdaniel         IE   41   25   32  37.10     F
S000578       Darren        Choi         CS   48   33   53  49.40    D+
S002154          Lea  Williamson         IE   69   70   80  69.00    B+
S000591       Mariam   Patterson         IE   30   27   39  39.20     F
S001499        Lamar      Davila         IE   77   43   70  62.00    C+
S005294      Corinne      Prince         IE   55   45   30  50.25    D+
S000597        Jalen      Gentry         IE   97   81   90  87.75     A
S001509       Arturo       Costa         IE   66   53   59  60.70    C+
S000602      Cecilia       Singh         IE   59   52   59  50.45    D+
S000608     Scarlett     Solomon         IE   72   63   76  69.80    B+
S000612       Ulises      Mosley         IE   83   67   81  75.80    A-
S000627         Chad      Steele         IE   80   92   92  84.60     A
S000629         Lola     Lambert         IE   65   38   52  52.35    C-
S000641      Bethany     Proctor         IE   78   66   67  67.85     B
S000642        Ronin    Cisneros         IE   50   35   67  52.35    C-
S001567          Gia        Kent         IE   47   34   33  40.40     F
S000665     Rosemary        Pham         CS   60   48   64  61.70    C+
S001599        Isiah      Dillon         IE   69   92   79  76.45    A-
S000477         Sara       Braun         IE   61   63   52  56.85     C
S000299        Jerry      Guerra         IE   63   38   68  58.15     C
S000686       Samson      Cuevas         IE   70   36   61  55.05    C-
S000688      Breanna   Patterson         IE   49   41   25  45.50     F
S000696    Alejandro      Barton         IE   78   55   73  69.90    B+
S001638       Dayami      Zuniga         IE   65   44   34  50.70    D+
S001639        Jesse       Watts         IE   45   55   51  50.55    D+
S000702      Gustavo        Byrd         CS   55   36   45  48.75    D+
S000746      Britney       Casey         CS   74   74   40  62.25    C+
S000337       Alison      Harper         CS   55   46   56  54.55    C-
S000762       Raquel     Merritt         IE   57   61   43  51.90    C-
S000779       Isaiah      Jensen         IE   64   44   62  50.60    D+
S001746        Kylan       David         IE   41   59   89  64.20    B-
S001748         Kyra      Campos         IE   64   31   62  52.60    C-
S000346        Alexa     Bradley         EE   55   57   31  53.55    C-
S001750       Kaelyn       Petty         EE   72   62   45  58.00     C
S000793     Savannah        Dunn         IE   46   29   50  42.50     F
S000805        Paola          Wu         IE   68   50   54  54.45    C-
S000809      Raelynn   Patterson         CS   74   45   66  62.05    C+
S000817       Haiden     Houston         IE   81   65   82  75.85    A-
S000823        Marco        Howe         IE   69   51   68  66.65     B
S000830       Shamar      Martin         IE   63   49   34  49.20    D+
S000832         Reed     Alvarez         IE   55   19   54  44.95     F
S000370      Carolyn      Rivers         IE   48   39   29  41.45     F
S000371        Damon    Humphrey         IE   61   68   72  67.85     B
S000372       London      Holden         IE   55   49   65  61.00    C+
S000835          Roy    Stephens         IE   68   36   75  57.25     C
S000839        Emely    Browning         IE   66   49   70  60.00    C+
S000840       Kianna    Harrison         IE   58   44   34  47.45     D
S000842       Jadiel     Terrell         IE   61   74   68  67.40     B
S001813        Regan      Glover         IE   21   30   43  35.90     F
S001025      Rodrigo     Douglas         IE   51   41   25  44.50     F
S000381        Tamia     Sanford         IE   46   29   31  39.05     F
S002127      Kathryn     Francis         IE   41   35   16  34.05     F
S000864        Perla       Allen         IE   68   52   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   65   84   69  71.95    A-
S000879        Paula     Gilmore         IE   39   17   21  29.80     F
S000394       Kailyn       Gibbs         IE   55   26   53  49.40    D+
S000397        Jayla      Haynes         IE   39   27   49  40.70     F
S001883       Jayden      Mccann         IE   35   41    2  29.10     F
S001889      Kaitlyn       Huang         IE   66   47   46  47.05     D
S001892        Lukas        Yang         IE   50   21   50  43.00     F
S000896        Maria      Bowers         IE   85   49   54  59.95    C+
S000899       Jaelyn      Brandt         IE    0    0    0   5.00     F
S000901       Adolfo    Marshall         IE   69   66   72  69.35    B+
S002127      Kathryn     Francis         ME   41   35   16  34.05     F
S000864        Perla       Allen         IE   68   52   73  62.90    C+
S000516      Derrick       David         ME   26   40   54  46.70     D
S000899       Jaelyn      Brandt         IE    0    0    0   5.00     F
S005294      Corinne      Prince         ME   55   45   30  50.25    D+
S000516      Derrick       David         ME   26   40   54  46.70     D
S000899       Jaelyn      Brandt         ME    0    0    0   5.00     F
S000964         Cali    Bradshaw         IE   70   59   71  67.55     B
S000967        Marin        Chan         IE   68   30   65  59.50    C+
S000989         Niko       Doyle         IE   76  100   99  89.20     A
S000990      Madisyn      Watson         IE   58   56   66  60.80    C+
S000434       Chanel     Holland         IE   84   36   35  53.75    C-
S000999       Oliver       Ellis         IE   68   41   50  58.50     C
S000842       Jadiel     Terrell         EE   61   74   68  67.40     B
S001892        Lukas        Yang         EE   50   21   50  43.00     F
S000915       Dakota        Pugh         IE   64   36   52  51.60    C-
S000929      Ireland    Matthews         IE   62   59   59  61.20    C+
S000932         Erik   Patterson         IE   60    0    0  20.00     F
S000944       Emilee      Travis         IE   53   23   31  43.80     F
S000951    Nathanael      Benton         IE   57   51   76  64.55    B-
S000953    Johnathan      Barnes         IE   80   74   68  72.15    A-
S000419       Alijah     Chapman         IE   65   31   57  50.60    D+
S000746      Britney       Casey         IE   74   74   40  62.25    C+
S000842       Jadiel     Terrell         IE   61   74   68  67.40     B

In [56]:
for i in range(len(df2)):
    df2['MT1'].iloc[i] += 2

In [57]:
df2['MT2'] = df2['MT2'].apply(lambda x: x * 1.2)
df2

                Name    LastName Department  MT1    MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle        Pham         ME   65   66.0   67  62.85    C+
S002233       Martha          Li         IE   64   64.8   39  54.70    C-
S000500        Roger     Rollins         IE   57   31.2   45  43.25     F
S003712     Giovanni     Rowland         CS   56   62.4   60  60.75    C+
S000507    Josephine   Carpenter         IE   49   43.2   67  54.85    C-
S000513         Jean        Mayo         ME   68   66.0   72  66.60     B
S000516      Derrick       David         EE   28   48.0   54  46.70     D
S000518        Jamir      Larsen         EE   79   72.0   65  67.00     B
S001379        Elvis     Donovan         IE   58   36.0   77  57.10     C
S000233     Maryjane      Levine         ME   64   63.6   47  52.35    C-
S000525     Serenity   Dougherty         IE   75   34.8   40  49.25    D+
S000531         Rose   Nicholson         IE  101  115.2   85  89.75     A
S000535     Annalise        Hull         IE   73   66.0   64  66.95     B
S000536       Johnny   Christian         IE   62   51.6   55  55.50    C-
S000245      Phillip   Mcpherson         IE   74   67.2   80  67.75     B
S000543       Damien      Bowman         IE   70   43.2   65  56.50     C
S000548        Amaya      Sutton         IE   87  110.4   93  87.65     A
S000563         Koen      Watson         IE   51   37.2   66  53.80    C-
S000571        Renee     Marquez         IE   79   45.6   83  63.90    B-
S000253        Eliza       David         IE   58   90.0   23  49.15    D+
S000588       Jaycee        Rich         IE   78   42.0   64  60.20    C+
S001061       Junior    Mcdaniel         IE   43   30.0   32  37.10     F
S000578       Darren        Choi         CS   50   39.6   53  49.40    D+
S002154          Lea  Williamson         IE   71   84.0   80  69.00    B+
S000591       Mariam   Patterson         IE   32   32.4   39  39.20     F
S001499        Lamar      Davila         IE   79   51.6   70  62.00    C+
S005294      Corinne      Prince         IE   57   54.0   30  50.25    D+
S000597        Jalen      Gentry         IE   99   97.2   90  87.75     A
S001509       Arturo       Costa         IE   68   63.6   59  60.70    C+
S000602      Cecilia       Singh         IE   61   62.4   59  50.45    D+
S000608     Scarlett     Solomon         IE   74   75.6   76  69.80    B+
S000612       Ulises      Mosley         IE   85   80.4   81  75.80    A-
S000627         Chad      Steele         IE   82  110.4   92  84.60     A
S000629         Lola     Lambert         IE   67   45.6   52  52.35    C-
S000641      Bethany     Proctor         IE   80   79.2   67  67.85     B
S000642        Ronin    Cisneros         IE   52   42.0   67  52.35    C-
S001567          Gia        Kent         IE   49   40.8   33  40.40     F
S000665     Rosemary        Pham         CS   62   57.6   64  61.70    C+
S001599        Isiah      Dillon         IE   71  110.4   79  76.45    A-
S000477         Sara       Braun         IE   63   75.6   52  56.85     C
S000299        Jerry      Guerra         IE   65   45.6   68  58.15     C
S000686       Samson      Cuevas         IE   72   43.2   61  55.05    C-
S000688      Breanna   Patterson         IE   51   49.2   25  45.50     F
S000696    Alejandro      Barton         IE   80   66.0   73  69.90    B+
S001638       Dayami      Zuniga         IE   67   52.8   34  50.70    D+
S001639        Jesse       Watts         IE   47   66.0   51  50.55    D+
S000702      Gustavo        Byrd         CS   57   43.2   45  48.75    D+
S000746      Britney       Casey         CS   76   88.8   40  62.25    C+
S000337       Alison      Harper         CS   57   55.2   56  54.55    C-
S000762       Raquel     Merritt         IE   59   73.2   43  51.90    C-
S000779       Isaiah      Jensen         IE   66   52.8   62  50.60    D+
S001746        Kylan       David         IE   43   70.8   89  64.20    B-
S001748         Kyra      Campos         IE   66   37.2   62  52.60    C-
S000346        Alexa     Bradley         EE   57   68.4   31  53.55    C-
S001750       Kaelyn       Petty         EE   74   74.4   45  58.00     C
S000793     Savannah        Dunn         IE   48   34.8   50  42.50     F
S000805        Paola          Wu         IE   70   60.0   54  54.45    C-
S000809      Raelynn   Patterson         CS   76   54.0   66  62.05    C+
S000817       Haiden     Houston         IE   83   78.0   82  75.85    A-
S000823        Marco        Howe         IE   71   61.2   68  66.65     B
S000830       Shamar      Martin         IE   65   58.8   34  49.20    D+
S000832         Reed     Alvarez         IE   57   22.8   54  44.95     F
S000370      Carolyn      Rivers         IE   50   46.8   29  41.45     F
S000371        Damon    Humphrey         IE   63   81.6   72  67.85     B
S000372       London      Holden         IE   57   58.8   65  61.00    C+
S000835          Roy    Stephens         IE   70   43.2   75  57.25     C
S000839        Emely    Browning         IE   68   58.8   70  60.00    C+
S000840       Kianna    Harrison         IE   60   52.8   34  47.45     D
S000842       Jadiel     Terrell         IE   63   88.8   68  67.40     B
S001813        Regan      Glover         IE   23   36.0   43  35.90     F
S001025      Rodrigo     Douglas         IE   53   49.2   25  44.50     F
S000381        Tamia     Sanford         IE   48   34.8   31  39.05     F
S002127      Kathryn     Francis         IE   43   42.0   16  34.05     F
S000864        Perla       Allen         IE   70   62.4   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   67  100.8   69  71.95    A-
S000879        Paula     Gilmore         IE   41   20.4   21  29.80     F
S000394       Kailyn       Gibbs         IE   57   31.2   53  49.40    D+
S000397        Jayla      Haynes         IE   41   32.4   49  40.70     F
S001883       Jayden      Mccann         IE   37   49.2    2  29.10     F
S001889      Kaitlyn       Huang         IE   68   56.4   46  47.05     D
S001892        Lukas        Yang         IE   52   25.2   50  43.00     F
S000896        Maria      Bowers         IE   87   58.8   54  59.95    C+
S000899       Jaelyn      Brandt         IE    2    0.0    0   5.00     F
S000901       Adolfo    Marshall         IE   71   79.2   72  69.35    B+
S002127      Kathryn     Francis         ME   43   42.0   16  34.05     F
S000864        Perla       Allen         IE   70   62.4   73  62.90    C+
S000516      Derrick       David         ME   28   48.0   54  46.70     D
S000899       Jaelyn      Brandt         IE    2    0.0    0   5.00     F
S005294      Corinne      Prince         ME   57   54.0   30  50.25    D+
S000516      Derrick       David         ME   28   48.0   54  46.70     D
S000899       Jaelyn      Brandt         ME    2    0.0    0   5.00     F
S000964         Cali    Bradshaw         IE   72   70.8   71  67.55     B
S000967        Marin        Chan         IE   70   36.0   65  59.50    C+
S000989         Niko       Doyle         IE   78  120.0   99  89.20     A
S000990      Madisyn      Watson         IE   60   67.2   66  60.80    C+
S000434       Chanel     Holland         IE   86   43.2   35  53.75    C-
S000999       Oliver       Ellis         IE   70   49.2   50  58.50     C
S000842       Jadiel     Terrell         EE   63   88.8   68  67.40     B
S001892        Lukas        Yang         EE   52   25.2   50  43.00     F
S000915       Dakota        Pugh         IE   66   43.2   52  51.60    C-
S000929      Ireland    Matthews         IE   64   70.8   59  61.20    C+
S000932         Erik   Patterson         IE   62    0.0    0  20.00     F
S000944       Emilee      Travis         IE   55   27.6   31  43.80     F
S000951    Nathanael      Benton         IE   59   61.2   76  64.55    B-
S000953    Johnathan      Barnes         IE   82   88.8   68  72.15    A-
S000419       Alijah     Chapman         IE   67   37.2   57  50.60    D+
S000746      Britney       Casey         IE   76   88.8   40  62.25    C+
S000842       Jadiel     Terrell         IE   63   88.8   68  67.40     B

In [58]:
df2 = df2.drop_duplicates()

In [59]:
df2

                Name    LastName Department  MT1    MT2  MT3  TOTAL Grade
StudentID
S000497      Miracle        Pham         ME   65   66.0   67  62.85    C+
S002233       Martha          Li         IE   64   64.8   39  54.70    C-
S000500        Roger     Rollins         IE   57   31.2   45  43.25     F
S003712     Giovanni     Rowland         CS   56   62.4   60  60.75    C+
S000507    Josephine   Carpenter         IE   49   43.2   67  54.85    C-
S000513         Jean        Mayo         ME   68   66.0   72  66.60     B
S000516      Derrick       David         EE   28   48.0   54  46.70     D
S000518        Jamir      Larsen         EE   79   72.0   65  67.00     B
S001379        Elvis     Donovan         IE   58   36.0   77  57.10     C
S000233     Maryjane      Levine         ME   64   63.6   47  52.35    C-
S000525     Serenity   Dougherty         IE   75   34.8   40  49.25    D+
S000531         Rose   Nicholson         IE  101  115.2   85  89.75     A
S000535     Annalise        Hull         IE   73   66.0   64  66.95     B
S000536       Johnny   Christian         IE   62   51.6   55  55.50    C-
S000245      Phillip   Mcpherson         IE   74   67.2   80  67.75     B
S000543       Damien      Bowman         IE   70   43.2   65  56.50     C
S000548        Amaya      Sutton         IE   87  110.4   93  87.65     A
S000563         Koen      Watson         IE   51   37.2   66  53.80    C-
S000571        Renee     Marquez         IE   79   45.6   83  63.90    B-
S000253        Eliza       David         IE   58   90.0   23  49.15    D+
S000588       Jaycee        Rich         IE   78   42.0   64  60.20    C+
S001061       Junior    Mcdaniel         IE   43   30.0   32  37.10     F
S000578       Darren        Choi         CS   50   39.6   53  49.40    D+
S002154          Lea  Williamson         IE   71   84.0   80  69.00    B+
S000591       Mariam   Patterson         IE   32   32.4   39  39.20     F
S001499        Lamar      Davila         IE   79   51.6   70  62.00    C+
S005294      Corinne      Prince         IE   57   54.0   30  50.25    D+
S000597        Jalen      Gentry         IE   99   97.2   90  87.75     A
S001509       Arturo       Costa         IE   68   63.6   59  60.70    C+
S000602      Cecilia       Singh         IE   61   62.4   59  50.45    D+
S000608     Scarlett     Solomon         IE   74   75.6   76  69.80    B+
S000612       Ulises      Mosley         IE   85   80.4   81  75.80    A-
S000627         Chad      Steele         IE   82  110.4   92  84.60     A
S000629         Lola     Lambert         IE   67   45.6   52  52.35    C-
S000641      Bethany     Proctor         IE   80   79.2   67  67.85     B
S000642        Ronin    Cisneros         IE   52   42.0   67  52.35    C-
S001567          Gia        Kent         IE   49   40.8   33  40.40     F
S000665     Rosemary        Pham         CS   62   57.6   64  61.70    C+
S001599        Isiah      Dillon         IE   71  110.4   79  76.45    A-
S000477         Sara       Braun         IE   63   75.6   52  56.85     C
S000299        Jerry      Guerra         IE   65   45.6   68  58.15     C
S000686       Samson      Cuevas         IE   72   43.2   61  55.05    C-
S000688      Breanna   Patterson         IE   51   49.2   25  45.50     F
S000696    Alejandro      Barton         IE   80   66.0   73  69.90    B+
S001638       Dayami      Zuniga         IE   67   52.8   34  50.70    D+
S001639        Jesse       Watts         IE   47   66.0   51  50.55    D+
S000702      Gustavo        Byrd         CS   57   43.2   45  48.75    D+
S000746      Britney       Casey         CS   76   88.8   40  62.25    C+
S000337       Alison      Harper         CS   57   55.2   56  54.55    C-
S000762       Raquel     Merritt         IE   59   73.2   43  51.90    C-
S000779       Isaiah      Jensen         IE   66   52.8   62  50.60    D+
S001746        Kylan       David         IE   43   70.8   89  64.20    B-
S001748         Kyra      Campos         IE   66   37.2   62  52.60    C-
S000346        Alexa     Bradley         EE   57   68.4   31  53.55    C-
S001750       Kaelyn       Petty         EE   74   74.4   45  58.00     C
S000793     Savannah        Dunn         IE   48   34.8   50  42.50     F
S000805        Paola          Wu         IE   70   60.0   54  54.45    C-
S000809      Raelynn   Patterson         CS   76   54.0   66  62.05    C+
S000817       Haiden     Houston         IE   83   78.0   82  75.85    A-
S000823        Marco        Howe         IE   71   61.2   68  66.65     B
S000830       Shamar      Martin         IE   65   58.8   34  49.20    D+
S000832         Reed     Alvarez         IE   57   22.8   54  44.95     F
S000370      Carolyn      Rivers         IE   50   46.8   29  41.45     F
S000371        Damon    Humphrey         IE   63   81.6   72  67.85     B
S000372       London      Holden         IE   57   58.8   65  61.00    C+
S000835          Roy    Stephens         IE   70   43.2   75  57.25     C
S000839        Emely    Browning         IE   68   58.8   70  60.00    C+
S000840       Kianna    Harrison         IE   60   52.8   34  47.45     D
S000842       Jadiel     Terrell         IE   63   88.8   68  67.40     B
S001813        Regan      Glover         IE   23   36.0   43  35.90     F
S001025      Rodrigo     Douglas         IE   53   49.2   25  44.50     F
S000381        Tamia     Sanford         IE   48   34.8   31  39.05     F
S002127      Kathryn     Francis         IE   43   42.0   16  34.05     F
S000864        Perla       Allen         IE   70   62.4   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   67  100.8   69  71.95    A-
S000879        Paula     Gilmore         IE   41   20.4   21  29.80     F
S000394       Kailyn       Gibbs         IE   57   31.2   53  49.40    D+
S000397        Jayla      Haynes         IE   41   32.4   49  40.70     F
S001883       Jayden      Mccann         IE   37   49.2    2  29.10     F
S001889      Kaitlyn       Huang         IE   68   56.4   46  47.05     D
S001892        Lukas        Yang         IE   52   25.2   50  43.00     F
S000896        Maria      Bowers         IE   87   58.8   54  59.95    C+
S000899       Jaelyn      Brandt         IE    2    0.0    0   5.00     F
S000901       Adolfo    Marshall         IE   71   79.2   72  69.35    B+
S002127      Kathryn     Francis         ME   43   42.0   16  34.05     F
S000516      Derrick       David         ME   28   48.0   54  46.70     D
S005294      Corinne      Prince         ME   57   54.0   30  50.25    D+
S000899       Jaelyn      Brandt         ME    2    0.0    0   5.00     F
S000964         Cali    Bradshaw         IE   72   70.8   71  67.55     B
S000967        Marin        Chan         IE   70   36.0   65  59.50    C+
S000989         Niko       Doyle         IE   78  120.0   99  89.20     A
S000990      Madisyn      Watson         IE   60   67.2   66  60.80    C+
S000434       Chanel     Holland         IE   86   43.2   35  53.75    C-
S000999       Oliver       Ellis         IE   70   49.2   50  58.50     C
S000842       Jadiel     Terrell         EE   63   88.8   68  67.40     B
S001892        Lukas        Yang         EE   52   25.2   50  43.00     F
S000915       Dakota        Pugh         IE   66   43.2   52  51.60    C-
S000929      Ireland    Matthews         IE   64   70.8   59  61.20    C+
S000932         Erik   Patterson         IE   62    0.0    0  20.00     F
S000944       Emilee      Travis         IE   55   27.6   31  43.80     F
S000951    Nathanael      Benton         IE   59   61.2   76  64.55    B-
S000953    Johnathan      Barnes         IE   82   88.8   68  72.15    A-
S000419       Alijah     Chapman         IE   67   37.2   57  50.60    D+
S000746      Britney       Casey         IE   76   88.8   40  62.25    C+

In [60]:
df2.sort_index()

                Name    LastName Department  MT1    MT2  MT3  TOTAL Grade
StudentID
S000233     Maryjane      Levine         ME   64   63.6   47  52.35    C-
S000245      Phillip   Mcpherson         IE   74   67.2   80  67.75     B
S000253        Eliza       David         IE   58   90.0   23  49.15    D+
S000299        Jerry      Guerra         IE   65   45.6   68  58.15     C
S000337       Alison      Harper         CS   57   55.2   56  54.55    C-
S000346        Alexa     Bradley         EE   57   68.4   31  53.55    C-
S000370      Carolyn      Rivers         IE   50   46.8   29  41.45     F
S000371        Damon    Humphrey         IE   63   81.6   72  67.85     B
S000372       London      Holden         IE   57   58.8   65  61.00    C+
S000381        Tamia     Sanford         IE   48   34.8   31  39.05     F
S000394       Kailyn       Gibbs         IE   57   31.2   53  49.40    D+
S000397        Jayla      Haynes         IE   41   32.4   49  40.70     F
S000419       Alijah     Chapman         IE   67   37.2   57  50.60    D+
S000434       Chanel     Holland         IE   86   43.2   35  53.75    C-
S000477         Sara       Braun         IE   63   75.6   52  56.85     C
S000497      Miracle        Pham         ME   65   66.0   67  62.85    C+
S000500        Roger     Rollins         IE   57   31.2   45  43.25     F
S000507    Josephine   Carpenter         IE   49   43.2   67  54.85    C-
S000513         Jean        Mayo         ME   68   66.0   72  66.60     B
S000516      Derrick       David         EE   28   48.0   54  46.70     D
S000516      Derrick       David         ME   28   48.0   54  46.70     D
S000518        Jamir      Larsen         EE   79   72.0   65  67.00     B
S000525     Serenity   Dougherty         IE   75   34.8   40  49.25    D+
S000531         Rose   Nicholson         IE  101  115.2   85  89.75     A
S000535     Annalise        Hull         IE   73   66.0   64  66.95     B
S000536       Johnny   Christian         IE   62   51.6   55  55.50    C-
S000543       Damien      Bowman         IE   70   43.2   65  56.50     C
S000548        Amaya      Sutton         IE   87  110.4   93  87.65     A
S000563         Koen      Watson         IE   51   37.2   66  53.80    C-
S000571        Renee     Marquez         IE   79   45.6   83  63.90    B-
S000578       Darren        Choi         CS   50   39.6   53  49.40    D+
S000588       Jaycee        Rich         IE   78   42.0   64  60.20    C+
S000591       Mariam   Patterson         IE   32   32.4   39  39.20     F
S000597        Jalen      Gentry         IE   99   97.2   90  87.75     A
S000602      Cecilia       Singh         IE   61   62.4   59  50.45    D+
S000608     Scarlett     Solomon         IE   74   75.6   76  69.80    B+
S000612       Ulises      Mosley         IE   85   80.4   81  75.80    A-
S000627         Chad      Steele         IE   82  110.4   92  84.60     A
S000629         Lola     Lambert         IE   67   45.6   52  52.35    C-
S000641      Bethany     Proctor         IE   80   79.2   67  67.85     B
S000642        Ronin    Cisneros         IE   52   42.0   67  52.35    C-
S000665     Rosemary        Pham         CS   62   57.6   64  61.70    C+
S000686       Samson      Cuevas         IE   72   43.2   61  55.05    C-
S000688      Breanna   Patterson         IE   51   49.2   25  45.50     F
S000696    Alejandro      Barton         IE   80   66.0   73  69.90    B+
S000702      Gustavo        Byrd         CS   57   43.2   45  48.75    D+
S000746      Britney       Casey         CS   76   88.8   40  62.25    C+
S000746      Britney       Casey         IE   76   88.8   40  62.25    C+
S000762       Raquel     Merritt         IE   59   73.2   43  51.90    C-
S000779       Isaiah      Jensen         IE   66   52.8   62  50.60    D+
S000793     Savannah        Dunn         IE   48   34.8   50  42.50     F
S000805        Paola          Wu         IE   70   60.0   54  54.45    C-
S000809      Raelynn   Patterson         CS   76   54.0   66  62.05    C+
S000817       Haiden     Houston         IE   83   78.0   82  75.85    A-
S000823        Marco        Howe         IE   71   61.2   68  66.65     B
S000830       Shamar      Martin         IE   65   58.8   34  49.20    D+
S000832         Reed     Alvarez         IE   57   22.8   54  44.95     F
S000835          Roy    Stephens         IE   70   43.2   75  57.25     C
S000839        Emely    Browning         IE   68   58.8   70  60.00    C+
S000840       Kianna    Harrison         IE   60   52.8   34  47.45     D
S000842       Jadiel     Terrell         EE   63   88.8   68  67.40     B
S000842       Jadiel     Terrell         IE   63   88.8   68  67.40     B
S000864        Perla       Allen         IE   70   62.4   73  62.90    C+
S000869      Osvaldo    Sullivan         IE   67  100.8   69  71.95    A-
S000879        Paula     Gilmore         IE   41   20.4   21  29.80     F
S000896        Maria      Bowers         IE   87   58.8   54  59.95    C+
S000899       Jaelyn      Brandt         ME    2    0.0    0   5.00     F
S000899       Jaelyn      Brandt         IE    2    0.0    0   5.00     F
S000901       Adolfo    Marshall         IE   71   79.2   72  69.35    B+
S000915       Dakota        Pugh         IE   66   43.2   52  51.60    C-
S000929      Ireland    Matthews         IE   64   70.8   59  61.20    C+
S000932         Erik   Patterson         IE   62    0.0    0  20.00     F
S000944       Emilee      Travis         IE   55   27.6   31  43.80     F
S000951    Nathanael      Benton         IE   59   61.2   76  64.55    B-
S000953    Johnathan      Barnes         IE   82   88.8   68  72.15    A-
S000964         Cali    Bradshaw         IE   72   70.8   71  67.55     B
S000967        Marin        Chan         IE   70   36.0   65  59.50    C+
S000989         Niko       Doyle         IE   78  120.0   99  89.20     A
S000990      Madisyn      Watson         IE   60   67.2   66  60.80    C+
S000999       Oliver       Ellis         IE   70   49.2   50  58.50     C
S001025      Rodrigo     Douglas         IE   53   49.2   25  44.50     F
S001061       Junior    Mcdaniel         IE   43   30.0   32  37.10     F
S001379        Elvis     Donovan         IE   58   36.0   77  57.10     C
S001499        Lamar      Davila         IE   79   51.6   70  62.00    C+
S001509       Arturo       Costa         IE   68   63.6   59  60.70    C+
S001567          Gia        Kent         IE   49   40.8   33  40.40     F
S001599        Isiah      Dillon         IE   71  110.4   79  76.45    A-
S001638       Dayami      Zuniga         IE   67   52.8   34  50.70    D+
S001639        Jesse       Watts         IE   47   66.0   51  50.55    D+
S001746        Kylan       David         IE   43   70.8   89  64.20    B-
S001748         Kyra      Campos         IE   66   37.2   62  52.60    C-
S001750       Kaelyn       Petty         EE   74   74.4   45  58.00     C
S001813        Regan      Glover         IE   23   36.0   43  35.90     F
S001883       Jayden      Mccann         IE   37   49.2    2  29.10     F
S001889      Kaitlyn       Huang         IE   68   56.4   46  47.05     D
S001892        Lukas        Yang         IE   52   25.2   50  43.00     F
S001892        Lukas        Yang         EE   52   25.2   50  43.00     F
S002127      Kathryn     Francis         ME   43   42.0   16  34.05     F
S002127      Kathryn     Francis         IE   43   42.0   16  34.05     F
S002154          Lea  Williamson         IE   71   84.0   80  69.00    B+
S002233       Martha          Li         IE   64   64.8   39  54.70    C-
S003712     Giovanni     Rowland         CS   56   62.4   60  60.75    C+
S005294      Corinne      Prince         IE   57   54.0   30  50.25    D+
S005294      Corinne      Prince         ME   57   54.0   30  50.25    D+

In [61]:
df2.sort_values(by=["TOTAL"])

                Name    LastName Department  MT1    MT2  MT3  TOTAL Grade
StudentID
S000899       Jaelyn      Brandt         IE    2    0.0    0   5.00     F
S000899       Jaelyn      Brandt         ME    2    0.0    0   5.00     F
S000932         Erik   Patterson         IE   62    0.0    0  20.00     F
S001883       Jayden      Mccann         IE   37   49.2    2  29.10     F
S000879        Paula     Gilmore         IE   41   20.4   21  29.80     F
S002127      Kathryn     Francis         IE   43   42.0   16  34.05     F
S002127      Kathryn     Francis         ME   43   42.0   16  34.05     F
S001813        Regan      Glover         IE   23   36.0   43  35.90     F
S001061       Junior    Mcdaniel         IE   43   30.0   32  37.10     F
S000381        Tamia     Sanford         IE   48   34.8   31  39.05     F
S000591       Mariam   Patterson         IE   32   32.4   39  39.20     F
S001567          Gia        Kent         IE   49   40.8   33  40.40     F
S000397        Jayla      Haynes         IE   41   32.4   49  40.70     F
S000370      Carolyn      Rivers         IE   50   46.8   29  41.45     F
S000793     Savannah        Dunn         IE   48   34.8   50  42.50     F
S001892        Lukas        Yang         IE   52   25.2   50  43.00     F
S001892        Lukas        Yang         EE   52   25.2   50  43.00     F
S000500        Roger     Rollins         IE   57   31.2   45  43.25     F
S000944       Emilee      Travis         IE   55   27.6   31  43.80     F
S001025      Rodrigo     Douglas         IE   53   49.2   25  44.50     F
S000832         Reed     Alvarez         IE   57   22.8   54  44.95     F
S000688      Breanna   Patterson         IE   51   49.2   25  45.50     F
S000516      Derrick       David         EE   28   48.0   54  46.70     D
S000516      Derrick       David         ME   28   48.0   54  46.70     D
S001889      Kaitlyn       Huang         IE   68   56.4   46  47.05     D
S000840       Kianna    Harrison         IE   60   52.8   34  47.45     D
S000702      Gustavo        Byrd         CS   57   43.2   45  48.75    D+
S000253        Eliza       David         IE   58   90.0   23  49.15    D+
S000830       Shamar      Martin         IE   65   58.8   34  49.20    D+
S000525     Serenity   Dougherty         IE   75   34.8   40  49.25    D+
S000578       Darren        Choi         CS   50   39.6   53  49.40    D+
S000394       Kailyn       Gibbs         IE   57   31.2   53  49.40    D+
S005294      Corinne      Prince         ME   57   54.0   30  50.25    D+
S005294      Corinne      Prince         IE   57   54.0   30  50.25    D+
S000602      Cecilia       Singh         IE   61   62.4   59  50.45    D+
S001639        Jesse       Watts         IE   47   66.0   51  50.55    D+
S000419       Alijah     Chapman         IE   67   37.2   57  50.60    D+
S000779       Isaiah      Jensen         IE   66   52.8   62  50.60    D+
S001638       Dayami      Zuniga         IE   67   52.8   34  50.70    D+
S000915       Dakota        Pugh         IE   66   43.2   52  51.60    C-
S000762       Raquel     Merritt         IE   59   73.2   43  51.90    C-
S000642        Ronin    Cisneros         IE   52   42.0   67  52.35    C-
S000629         Lola     Lambert         IE   67   45.6   52  52.35    C-
S000233     Maryjane      Levine         ME   64   63.6   47  52.35    C-
S001748         Kyra      Campos         IE   66   37.2   62  52.60    C-
S000346        Alexa     Bradley         EE   57   68.4   31  53.55    C-
S000434       Chanel     Holland         IE   86   43.2   35  53.75    C-
S000563         Koen      Watson         IE   51   37.2   66  53.80    C-
S000805        Paola          Wu         IE   70   60.0   54  54.45    C-
S000337       Alison      Harper         CS   57   55.2   56  54.55    C-
S002233       Martha          Li         IE   64   64.8   39  54.70    C-
S000507    Josephine   Carpenter         IE   49   43.2   67  54.85    C-
S000686       Samson      Cuevas         IE   72   43.2   61  55.05    C-
S000536       Johnny   Christian         IE   62   51.6   55  55.50    C-
S000543       Damien      Bowman         IE   70   43.2   65  56.50     C
S000477         Sara       Braun         IE   63   75.6   52  56.85     C
S001379        Elvis     Donovan         IE   58   36.0   77  57.10     C
S000835          Roy    Stephens         IE   70   43.2   75  57.25     C
S001750       Kaelyn       Petty         EE   74   74.4   45  58.00     C
S000299        Jerry      Guerra         IE   65   45.6   68  58.15     C
S000999       Oliver       Ellis         IE   70   49.2   50  58.50     C
S000967        Marin        Chan         IE   70   36.0   65  59.50    C+
S000896        Maria      Bowers         IE   87   58.8   54  59.95    C+
S000839        Emely    Browning         IE   68   58.8   70  60.00    C+
S000588       Jaycee        Rich         IE   78   42.0   64  60.20    C+
S001509       Arturo       Costa         IE   68   63.6   59  60.70    C+
S003712     Giovanni     Rowland         CS   56   62.4   60  60.75    C+
S000990      Madisyn      Watson         IE   60   67.2   66  60.80    C+
S000372       London      Holden         IE   57   58.8   65  61.00    C+
S000929      Ireland    Matthews         IE   64   70.8   59  61.20    C+
S000665     Rosemary        Pham         CS   62   57.6   64  61.70    C+
S001499        Lamar      Davila         IE   79   51.6   70  62.00    C+
S000809      Raelynn   Patterson         CS   76   54.0   66  62.05    C+
S000746      Britney       Casey         CS   76   88.8   40  62.25    C+
S000746      Britney       Casey         IE   76   88.8   40  62.25    C+
S000497      Miracle        Pham         ME   65   66.0   67  62.85    C+
S000864        Perla       Allen         IE   70   62.4   73  62.90    C+
S000571        Renee     Marquez         IE   79   45.6   83  63.90    B-
S001746        Kylan       David         IE   43   70.8   89  64.20    B-
S000951    Nathanael      Benton         IE   59   61.2   76  64.55    B-
S000513         Jean        Mayo         ME   68   66.0   72  66.60     B
S000823        Marco        Howe         IE   71   61.2   68  66.65     B
S000535     Annalise        Hull         IE   73   66.0   64  66.95     B
S000518        Jamir      Larsen         EE   79   72.0   65  67.00     B
S000842       Jadiel     Terrell         EE   63   88.8   68  67.40     B
S000842       Jadiel     Terrell         IE   63   88.8   68  67.40     B
S000964         Cali    Bradshaw         IE   72   70.8   71  67.55     B
S000245      Phillip   Mcpherson         IE   74   67.2   80  67.75     B
S000641      Bethany     Proctor         IE   80   79.2   67  67.85     B
S000371        Damon    Humphrey         IE   63   81.6   72  67.85     B
S002154          Lea  Williamson         IE   71   84.0   80  69.00    B+
S000901       Adolfo    Marshall         IE   71   79.2   72  69.35    B+
S000608     Scarlett     Solomon         IE   74   75.6   76  69.80    B+
S000696    Alejandro      Barton         IE   80   66.0   73  69.90    B+
S000869      Osvaldo    Sullivan         IE   67  100.8   69  71.95    A-
S000953    Johnathan      Barnes         IE   82   88.8   68  72.15    A-
S000612       Ulises      Mosley         IE   85   80.4   81  75.80    A-
S000817       Haiden     Houston         IE   83   78.0   82  75.85    A-
S001599        Isiah      Dillon         IE   71  110.4   79  76.45    A-
S000627         Chad      Steele         IE   82  110.4   92  84.60     A
S000548        Amaya      Sutton         IE   87  110.4   93  87.65     A
S000597        Jalen      Gentry         IE   99   97.2   90  87.75     A
S000989         Niko       Doyle         IE   78  120.0   99  89.20     A
S000531         Rose   Nicholson         IE  101  115.2   85  89.75     A

In [62]:
df2.sort_values(by=["TOTAL"], ascending = False)

                Name    LastName Department  MT1    MT2  MT3  TOTAL Grade
StudentID
S000531         Rose   Nicholson         IE  101  115.2   85  89.75     A
S000989         Niko       Doyle         IE   78  120.0   99  89.20     A
S000597        Jalen      Gentry         IE   99   97.2   90  87.75     A
S000548        Amaya      Sutton         IE   87  110.4   93  87.65     A
S000627         Chad      Steele         IE   82  110.4   92  84.60     A
S001599        Isiah      Dillon         IE   71  110.4   79  76.45    A-
S000817       Haiden     Houston         IE   83   78.0   82  75.85    A-
S000612       Ulises      Mosley         IE   85   80.4   81  75.80    A-
S000953    Johnathan      Barnes         IE   82   88.8   68  72.15    A-
S000869      Osvaldo    Sullivan         IE   67  100.8   69  71.95    A-
S000696    Alejandro      Barton         IE   80   66.0   73  69.90    B+
S000608     Scarlett     Solomon         IE   74   75.6   76  69.80    B+
S000901       Adolfo    Marshall         IE   71   79.2   72  69.35    B+
S002154          Lea  Williamson         IE   71   84.0   80  69.00    B+
S000641      Bethany     Proctor         IE   80   79.2   67  67.85     B
S000371        Damon    Humphrey         IE   63   81.6   72  67.85     B
S000245      Phillip   Mcpherson         IE   74   67.2   80  67.75     B
S000964         Cali    Bradshaw         IE   72   70.8   71  67.55     B
S000842       Jadiel     Terrell         IE   63   88.8   68  67.40     B
S000842       Jadiel     Terrell         EE   63   88.8   68  67.40     B
S000518        Jamir      Larsen         EE   79   72.0   65  67.00     B
S000535     Annalise        Hull         IE   73   66.0   64  66.95     B
S000823        Marco        Howe         IE   71   61.2   68  66.65     B
S000513         Jean        Mayo         ME   68   66.0   72  66.60     B
S000951    Nathanael      Benton         IE   59   61.2   76  64.55    B-
S001746        Kylan       David         IE   43   70.8   89  64.20    B-
S000571        Renee     Marquez         IE   79   45.6   83  63.90    B-
S000864        Perla       Allen         IE   70   62.4   73  62.90    C+
S000497      Miracle        Pham         ME   65   66.0   67  62.85    C+
S000746      Britney       Casey         CS   76   88.8   40  62.25    C+
S000746      Britney       Casey         IE   76   88.8   40  62.25    C+
S000809      Raelynn   Patterson         CS   76   54.0   66  62.05    C+
S001499        Lamar      Davila         IE   79   51.6   70  62.00    C+
S000665     Rosemary        Pham         CS   62   57.6   64  61.70    C+
S000929      Ireland    Matthews         IE   64   70.8   59  61.20    C+
S000372       London      Holden         IE   57   58.8   65  61.00    C+
S000990      Madisyn      Watson         IE   60   67.2   66  60.80    C+
S003712     Giovanni     Rowland         CS   56   62.4   60  60.75    C+
S001509       Arturo       Costa         IE   68   63.6   59  60.70    C+
S000588       Jaycee        Rich         IE   78   42.0   64  60.20    C+
S000839        Emely    Browning         IE   68   58.8   70  60.00    C+
S000896        Maria      Bowers         IE   87   58.8   54  59.95    C+
S000967        Marin        Chan         IE   70   36.0   65  59.50    C+
S000999       Oliver       Ellis         IE   70   49.2   50  58.50     C
S000299        Jerry      Guerra         IE   65   45.6   68  58.15     C
S001750       Kaelyn       Petty         EE   74   74.4   45  58.00     C
S000835          Roy    Stephens         IE   70   43.2   75  57.25     C
S001379        Elvis     Donovan         IE   58   36.0   77  57.10     C
S000477         Sara       Braun         IE   63   75.6   52  56.85     C
S000543       Damien      Bowman         IE   70   43.2   65  56.50     C
S000536       Johnny   Christian         IE   62   51.6   55  55.50    C-
S000686       Samson      Cuevas         IE   72   43.2   61  55.05    C-
S000507    Josephine   Carpenter         IE   49   43.2   67  54.85    C-
S002233       Martha          Li         IE   64   64.8   39  54.70    C-
S000337       Alison      Harper         CS   57   55.2   56  54.55    C-
S000805        Paola          Wu         IE   70   60.0   54  54.45    C-
S000563         Koen      Watson         IE   51   37.2   66  53.80    C-
S000434       Chanel     Holland         IE   86   43.2   35  53.75    C-
S000346        Alexa     Bradley         EE   57   68.4   31  53.55    C-
S001748         Kyra      Campos         IE   66   37.2   62  52.60    C-
S000233     Maryjane      Levine         ME   64   63.6   47  52.35    C-
S000629         Lola     Lambert         IE   67   45.6   52  52.35    C-
S000642        Ronin    Cisneros         IE   52   42.0   67  52.35    C-
S000762       Raquel     Merritt         IE   59   73.2   43  51.90    C-
S000915       Dakota        Pugh         IE   66   43.2   52  51.60    C-
S001638       Dayami      Zuniga         IE   67   52.8   34  50.70    D+
S000419       Alijah     Chapman         IE   67   37.2   57  50.60    D+
S000779       Isaiah      Jensen         IE   66   52.8   62  50.60    D+
S001639        Jesse       Watts         IE   47   66.0   51  50.55    D+
S000602      Cecilia       Singh         IE   61   62.4   59  50.45    D+
S005294      Corinne      Prince         IE   57   54.0   30  50.25    D+
S005294      Corinne      Prince         ME   57   54.0   30  50.25    D+
S000394       Kailyn       Gibbs         IE   57   31.2   53  49.40    D+
S000578       Darren        Choi         CS   50   39.6   53  49.40    D+
S000525     Serenity   Dougherty         IE   75   34.8   40  49.25    D+
S000830       Shamar      Martin         IE   65   58.8   34  49.20    D+
S000253        Eliza       David         IE   58   90.0   23  49.15    D+
S000702      Gustavo        Byrd         CS   57   43.2   45  48.75    D+
S000840       Kianna    Harrison         IE   60   52.8   34  47.45     D
S001889      Kaitlyn       Huang         IE   68   56.4   46  47.05     D
S000516      Derrick       David         ME   28   48.0   54  46.70     D
S000516      Derrick       David         EE   28   48.0   54  46.70     D
S000688      Breanna   Patterson         IE   51   49.2   25  45.50     F
S000832         Reed     Alvarez         IE   57   22.8   54  44.95     F
S001025      Rodrigo     Douglas         IE   53   49.2   25  44.50     F
S000944       Emilee      Travis         IE   55   27.6   31  43.80     F
S000500        Roger     Rollins         IE   57   31.2   45  43.25     F
S001892        Lukas        Yang         IE   52   25.2   50  43.00     F
S001892        Lukas        Yang         EE   52   25.2   50  43.00     F
S000793     Savannah        Dunn         IE   48   34.8   50  42.50     F
S000370      Carolyn      Rivers         IE   50   46.8   29  41.45     F
S000397        Jayla      Haynes         IE   41   32.4   49  40.70     F
S001567          Gia        Kent         IE   49   40.8   33  40.40     F
S000591       Mariam   Patterson         IE   32   32.4   39  39.20     F
S000381        Tamia     Sanford         IE   48   34.8   31  39.05     F
S001061       Junior    Mcdaniel         IE   43   30.0   32  37.10     F
S001813        Regan      Glover         IE   23   36.0   43  35.90     F
S002127      Kathryn     Francis         ME   43   42.0   16  34.05     F
S002127      Kathryn     Francis         IE   43   42.0   16  34.05     F
S000879        Paula     Gilmore         IE   41   20.4   21  29.80     F
S001883       Jayden      Mccann         IE   37   49.2    2  29.10     F
S000932         Erik   Patterson         IE   62    0.0    0  20.00     F
S000899       Jaelyn      Brandt         IE    2    0.0    0   5.00     F
S000899       Jaelyn      Brandt         ME    2    0.0    0   5.00     F

In [63]:
df2.describe()

              MT1         MT2         MT3       TOTAL
count  104.000000  104.000000  104.000000  104.000000
mean    62.028846   56.884615   54.644231   55.369231
std     16.542066   23.774388   21.193019   14.765159
min      2.000000    0.000000    0.000000    5.000000
25%     54.500000   42.000000   40.000000   48.425000
50%     64.000000   54.000000   56.500000   54.950000
75%     71.250000   70.800000   68.000000   63.975000
max    101.000000  120.000000   99.000000   89.750000

In [64]:
pd.value_counts(df2['Grade'])

F     22
C+    16
C-    15
D+    13
B     10
C      7
A      5
A-     5
D      4
B+     4
B-     3
Name: Grade, dtype: int64

In [65]:
df2.sum(axis=0)

Name                                        MiracleMarthaRogerGiovanniJosephineJeanDerrickJamirElvisMaryjaneSerenityRoseAnnaliseJohnnyPhillipDamienAmayaKoenReneeElizaJayceeJuniorDarrenLeaMariamLamarCorinneJalenArturoCeciliaScarlettUlisesChadLolaBethanyRoninGiaRosemaryIsiahSaraJerrySamsonBreannaAlejandroDayamiJesseGustavoBritneyAlisonRaquelIsaiahKylanKyraAlexaKaelynSavannahPaolaRaelynnHaidenMarcoShamarReedCarolynDamonLondonRoyEmelyKiannaJadielReganRodrigoTamiaKathrynPerlaOsvaldoPaulaKailynJaylaJaydenKaitlynLukasMariaJaelynAdolfoKathrynDerrickCorinneJaelynCaliMarinNikoMadisynChanelOliverJadielLukasDakotaIrelandErikEmileeNathanaelJohnathanAlijahBritney
LastName      PhamLiRollinsRowlandCarpenterMayoDavidLarsenDonovanLevineDoughertyNicholsonHullChristianMcphersonBowmanSuttonWatsonMarquezDavidRichMcdanielChoiWilliamsonPattersonDavilaPrinceGentryCostaSinghSolomonMosleySteeleLambertProctorCisnerosKentPhamDillonBraunGuerraCuevasPattersonBartonZunigaWattsByrdCaseyHarperMerrittJensenDavidCamposBradleyPettyDunnWuPattersonHoustonHoweMartinAlvarezRiversHumphreyHoldenStephensBrowningHarrisonTerrellGloverDouglasSanfordFrancisAllenSullivanGilmoreGibbsHaynesMccannHuangYangBowersBrandtMarshallFrancisDavidPrinceBrandtBradshawChanDoyleWatsonHollandEllisTerrellYangPughMatthewsPattersonTravisBentonBarnesChapmanCasey
Department                                                                                                                                                                                                                                                                                                                                                                                                                                                       MEIEIECSIEMEEEEEIEMEIEIEIEIEIEIEIEIEIEIEIEIECSIEIEIEIEIEIEIEIEIEIEIEIEIEIECSIEIEIEIEIEIEIEIECSCSCSIEIEIEIEEEEEIEIECSIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEMEMEMEMEIEIEIEIEIEIEEEEEIEIEIEIEIEIEIEIE
MT1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          6451
MT2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        5916.0
MT3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          5683
TOTAL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      5758.4
Grade                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            C+C-FC+C-BDBCC-D+ABC-BCAC-B-D+C+FD+B+FC+D+AC+D+B+A-AC-BC-FC+A-CCC-FB+D+D+D+C+C-C-D+B-C-C-CFC-C+A-BD+FFBC+CC+DBFFFFC+A-FD+FFDFC+FB+FDD+FBC+AC+C-CBFC-C+FFB-A-D+C+
dtype: object

In [66]:
df2['TotalPoints'] = df2.loc[:,['MT1','MT2','MT3']].sum(axis=1)

In [67]:
df2.head()

,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
StudentID,,,,,,,,,
S000497,Miracle,Pham,ME,65,66.0,67,62.85,C+,198.0
S002233,Martha,Li,IE,64,64.8,39,54.70,C-,167.8
S000500,Roger,Rollins,IE,57,31.2,45,43.25,F,133.2
S003712,Giovanni,Rowland,CS,56,62.4,60,60.75,C+,178.4
S000507,Josephine,Carpenter,IE,49,43.2,67,54.85,C-,159.2

In [68]:
df2['TotalPoints2'] = df2['MT1'] + df2['MT2'] + df2['MT3']
df2.head()

,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPoints2
StudentID,,,,,,,,,,
S000497,Miracle,Pham,ME,65,66.0,67,62.85,C+,198.0,198.0
S002233,Martha,Li,IE,64,64.8,39,54.70,C-,167.8,167.8
S000500,Roger,Rollins,IE,57,31.2,45,43.25,F,133.2,133.2
S003712,Giovanni,Rowland,CS,56,62.4,60,60.75,C+,178.4,178.4
S000507,Josephine,Carpenter,IE,49,43.2,67,54.85,C-,159.2,159.2

In [69]:
df2.drop(['TotalPoints2'], axis=1)
df2.head()

,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPoints2
StudentID,,,,,,,,,,
S000497,Miracle,Pham,ME,65,66.0,67,62.85,C+,198.0,198.0
S002233,Martha,Li,IE,64,64.8,39,54.70,C-,167.8,167.8
S000500,Roger,Rollins,IE,57,31.2,45,43.25,F,133.2,133.2
S003712,Giovanni,Rowland,CS,56,62.4,60,60.75,C+,178.4,178.4
S000507,Josephine,Carpenter,IE,49,43.2,67,54.85,C-,159.2,159.2

In [70]:
df2.drop(['TotalPoints2'], axis=1, inplace = True)
df2.head()

,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
StudentID,,,,,,,,,
S000497,Miracle,Pham,ME,65,66.0,67,62.85,C+,198.0
S002233,Martha,Li,IE,64,64.8,39,54.70,C-,167.8
S000500,Roger,Rollins,IE,57,31.2,45,43.25,F,133.2
S003712,Giovanni,Rowland,CS,56,62.4,60,60.75,C+,178.4
S000507,Josephine,Carpenter,IE,49,43.2,67,54.85,C-,159.2

In [71]:
df2[df2["Grade"]=="F"].sum()

Name                            RogerJuniorMariamGiaBreannaSavannahReedCarolynReganRodrigoTamiaKathrynPaulaJaylaJaydenLukasJaelynKathrynJaelynLukasErikEmilee
LastName       RollinsMcdanielPattersonKentPattersonDunnAlvarezRiversGloverDouglasSanfordFrancisGilmoreHaynesMccannYangBrandtFrancisBrandtYangPattersonTravis
Department                                                                                                       IEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEIEMEMEEEIEIE
MT1                                                                                                                                                       941
MT2                                                                                                                                                     672.0
MT3                                                                                                                                                       641
TOTAL                                                                                                                                                   781.3
Grade                                                                                                                                  FFFFFFFFFFFFFFFFFFFFFF
TotalPoints                                                                                                                                            2254.0
dtype: object

In [72]:
df2.MT1[df2["Grade"]=="F"].sum()

941

In [73]:
df2.MT1[df2["Grade"]=="F"].mean()

42.77272727272727

In [74]:
df2.MT1[df2["Grade"]=="F"].max()

62

In [75]:
df2.MT1[df2["Grade"]=="F"].min()

2

In [76]:
df2[["Grade", "MT3"]].groupby('Grade').sum()

       MT3
Grade
A      459
A-     379
B      695
B+     301
B-     248
C      432
C+     982
C-     787
D      188
D+     571
F      641

In [77]:
df2[["Grade", "MT3"]].groupby('Grade').mean()

             MT3
Grade
A      91.800000
A-     75.800000
B      69.500000
B+     75.250000
B-     82.666667
C      61.714286
C+     61.375000
C-     52.466667
D      47.000000
D+     43.923077
F      29.136364

In [78]:
pd.pivot_table(df2, values="TOTAL", index="Grade", columns = "Department", aggfunc=np.mean)

Department       CS     EE         IE      ME
Grade
A               NaN    NaN  87.790000     NaN
A-              NaN    NaN  74.440000     NaN
B               NaN  67.20  67.428571  66.600
B+              NaN    NaN  69.512500     NaN
B-              NaN    NaN  64.216667     NaN
C               NaN  58.00  57.391667     NaN
C+          61.6875    NaN  60.954545  62.850
C-          54.5500  53.55  53.575000  52.350
D               NaN  46.70  47.250000  46.700
D+          49.0750    NaN  50.015000  50.250
F               NaN  43.00  36.802632  19.525

In [79]:
pd.pivot_table(df2, values="TOTAL", index="Grade", columns = "Department", aggfunc=np.mean, fill_value = 0)

Department       CS     EE         IE      ME
Grade
A            0.0000   0.00  87.790000   0.000
A-           0.0000   0.00  74.440000   0.000
B            0.0000  67.20  67.428571  66.600
B+           0.0000   0.00  69.512500   0.000
B-           0.0000   0.00  64.216667   0.000
C            0.0000  58.00  57.391667   0.000
C+          61.6875   0.00  60.954545  62.850
C-          54.5500  53.55  53.575000  52.350
D            0.0000  46.70  47.250000  46.700
D+          49.0750   0.00  50.015000  50.250
F            0.0000  43.00  36.802632  19.525

In [80]:
pd.pivot_table(df2, values="TOTAL", index="Grade", columns = "Department", aggfunc=np.mean, fill_value = 0, margins=True)

Department         CS         EE         IE      ME        All
Grade
A            0.000000   0.000000  87.790000   0.000  87.790000
A-           0.000000   0.000000  74.440000   0.000  74.440000
B            0.000000  67.200000  67.428571  66.600  67.300000
B+           0.000000   0.000000  69.512500   0.000  69.512500
B-           0.000000   0.000000  64.216667   0.000  64.216667
C            0.000000  58.000000  57.391667   0.000  57.478571
C+          61.687500   0.000000  60.954545  62.850  61.256250
C-          54.550000  53.550000  53.575000  52.350  53.556667
D            0.000000  46.700000  47.250000  46.700  46.975000
D+          49.075000   0.000000  50.015000  50.250  49.888462
F            0.000000  43.000000  36.802632  19.525  35.513636
All         57.064286  55.941667  56.017857  45.400  55.369231

In [81]:
df2.reset_index(inplace = True) 
df2

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
0,S000497,Miracle,Pham,ME,65,66.0,67,62.85,C+,198.0
1,S002233,Martha,Li,IE,64,64.8,39,54.70,C-,167.8
2,S000500,Roger,Rollins,IE,57,31.2,45,43.25,F,133.2
3,S003712,Giovanni,Rowland,CS,56,62.4,60,60.75,C+,178.4
4,S000507,Josephine,Carpenter,IE,49,43.2,67,54.85,C-,159.2
5,S000513,Jean,Mayo,ME,68,66.0,72,66.60,B,206.0
6,S000516,Derrick,David,EE,28,48.0,54,46.70,D,130.0
7,S000518,Jamir,Larsen,EE,79,72.0,65,67.00,B,216.0
8,S001379,Elvis,Donovan,IE,58,36.0,77,57.10,C,171.0
9,S000233,Maryjane,Levine,ME,64,63.6,47,52.35,C-,174.6
10,S000525,Serenity,Dougherty,IE,75,34.8,40,49.25,D+,149.8
11,S000531,Rose,Nicholson,IE,101,115.2,85,89.75,A,301.2
12,S000535,Annalise,Hull,IE,73,66.0,64,66.95,B,203.0
13,S000536,Johnny,Christian,IE,62,51.6,55,55.50,C-,168.6
14,S000245,Phillip,Mcpherson,IE,74,67.2,80,67.75,B,221.2
15,S000543,Damien,Bowman,IE,70,43.2,65,56.50,C,178.2
16,S000548,Amaya,Sutton,IE,87,110.4,93,87.65,A,290.4
17,S000563,Koen,Watson,IE,51,37.2,66,53.80,C-,154.2
18,S000571,Renee,Marquez,IE,79,45.6,83,63.90,B-,207.6
19,S000253,Eliza,David,IE,58,90.0,23,49.15,D+,171.0
20,S000588,Jaycee,Rich,IE,78,42.0,64,60.20,C+,184.0
21,S001061,Junior,Mcdaniel,IE,43,30.0,32,37.10,F,105.0
22,S000578,Darren,Choi,CS,50,39.6,53,49.40,D+,142.6
23,S002154,Lea,Williamson,IE,71,84.0,80,69.00,B+,235.0
24,S000591,Mariam,Patterson,IE,32,32.4,39,39.20,F,103.4
25,S001499,Lamar,Davila,IE,79,51.6,70,62.00,C+,200.6
26,S005294,Corinne,Prince,IE,57,54.0,30,50.25,D+,141.0
27,S000597,Jalen,Gentry,IE,99,97.2,90,87.75,A,286.2
28,S001509,Arturo,Costa,IE,68,63.6,59,60.70,C+,190.6
29,S000602,Cecilia,Singh,IE,61,62.4,59,50.45,D+,182.4
30,S000608,Scarlett,Solomon,IE,74,75.6,76,69.80,B+,225.6
31,S000612,Ulises,Mosley,IE,85,80.4,81,75.80,A-,246.4
32,S000627,Chad,Steele,IE,82,110.4,92,84.60,A,284.4
33,S000629,Lola,Lambert,IE,67,45.6,52,52.35,C-,164.6
34,S000641,Bethany,Proctor,IE,80,79.2,67,67.85,B,226.2
35,S000642,Ronin,Cisneros,IE,52,42.0,67,52.35,C-,161.0
36,S001567,Gia,Kent,IE,49,40.8,33,40.40,F,122.8
37,S000665,Rosemary,Pham,CS,62,57.6,64,61.70,C+,183.6
38,S001599,Isiah,Dillon,IE,71,110.4,79,76.45,A-,260.4
39,S000477,Sara,Braun,IE,63,75.6,52,56.85,C,190.6
40,S000299,Jerry,Guerra,IE,65,45.6,68,58.15,C,178.6
41,S000686,Samson,Cuevas,IE,72,43.2,61,55.05,C-,176.2
42,S000688,Breanna,Patterson,IE,51,49.2,25,45.50,F,125.2
43,S000696,Alejandro,Barton,IE,80,66.0,73,69.90,B+,219.0
44,S001638,Dayami,Zuniga,IE,67,52.8,34,50.70,D+,153.8
45,S001639,Jesse,Watts,IE,47,66.0,51,50.55,D+,164.0
46,S000702,Gustavo,Byrd,CS,57,43.2,45,48.75,D+,145.2
47,S000746,Britney,Casey,CS,76,88.8,40,62.25,C+,204.8
48,S000337,Alison,Harper,CS,57,55.2,56,54.55,C-,168.2
49,S000762,Raquel,Merritt,IE,59,73.2,43,51.90,C-,175.2
50,S000779,Isaiah,Jensen,IE,66,52.8,62,50.60,D+,180.8
51,S001746,Kylan,David,IE,43,70.8,89,64.20,B-,202.8
52,S001748,Kyra,Campos,IE,66,37.2,62,52.60,C-,165.2
53,S000346,Alexa,Bradley,EE,57,68.4,31,53.55,C-,156.4
54,S001750,Kaelyn,Petty,EE,74,74.4,45,58.00,C,193.4
55,S000793,Savannah,Dunn,IE,48,34.8,50,42.50,F,132.8
56,S000805,Paola,Wu,IE,70,60.0,54,54.45,C-,184.0
57,S000809,Raelynn,Patterson,CS,76,54.0,66,62.05,C+,196.0
58,S000817,Haiden,Houston,IE,83,78.0,82,75.85,A-,243.0
59,S000823,Marco,Howe,IE,71,61.2,68,66.65,B,200.2
60,S000830,Shamar,Martin,IE,65,58.8,34,49.20,D+,157.8
61,S000832,Reed,Alvarez,IE,57,22.8,54,44.95,F,133.8
62,S000370,Carolyn,Rivers,IE,50,46.8,29,41.45,F,125.8
63,S000371,Damon,Humphrey,IE,63,81.6,72,67.85,B,216.6
64,S000372,London,Holden,IE,57,58.8,65,61.00,C+,180.8
65,S000835,Roy,Stephens,IE,70,43.2,75,57.25,C,188.2
66,S000839,Emely,Browning,IE,68,58.8,70,60.00,C+,196.8
67,S000840,Kianna,Harrison,IE,60,52.8,34,47.45,D,146.8
68,S000842,Jadiel,Terrell,IE,63,88.8,68,67.40,B,219.8
69,S001813,Regan,Glover,IE,23,36.0,43,35.90,F,102.0
70,S001025,Rodrigo,Douglas,IE,53,49.2,25,44.50,F,127.2
71,S000381,Tamia,Sanford,IE,48,34.8,31,39.05,F,113.8
72,S002127,Kathryn,Francis,IE,43,42.0,16,34.05,F,101.0
73,S000864,Perla,Allen,IE,70,62.4,73,62.90,C+,205.4
74,S000869,Osvaldo,Sullivan,IE,67,100.8,69,71.95,A-,236.8
75,S000879,Paula,Gilmore,IE,41,20.4,21,29.80,F,82.4
76,S000394,Kailyn,Gibbs,IE,57,31.2,53,49.40,D+,141.2
77,S000397,Jayla,Haynes,IE,41,32.4,49,40.70,F,122.4
78,S001883,Jayden,Mccann,IE,37,49.2,2,29.10,F,88.2
79,S001889,Kaitlyn,Huang,IE,68,56.4,46,47.05,D,170.4
80,S001892,Lukas,Yang,IE,52,25.2,50,43.00,F,127.2
81,S000896,Maria,Bowers,IE,87,58.8,54,59.95,C+,199.8
82,S000899,Jaelyn,Brandt,IE,2,0.0,0,5.00,F,2.0
83,S000901,Adolfo,Marshall,IE,71,79.2,72,69.35,B+,222.2
84,S002127,Kathryn,Francis,ME,43,42.0,16,34.05,F,101.0
85,S000516,Derrick,David,ME,28,48.0,54,46.70,D,130.0
86,S005294,Corinne,Prince,ME,57,54.0,30,50.25,D+,141.0
87,S000899,Jaelyn,Brandt,ME,2,0.0,0,5.00,F,2.0
88,S000964,Cali,Bradshaw,IE,72,70.8,71,67.55,B,213.8
89,S000967,Marin,Chan,IE,70,36.0,65,59.50,C+,171.0
90,S000989,Niko,Doyle,IE,78,120.0,99,89.20,A,297.0
91,S000990,Madisyn,Watson,IE,60,67.2,66,60.80,C+,193.2
92,S000434,Chanel,Holland,IE,86,43.2,35,53.75,C-,164.2
93,S000999,Oliver,Ellis,IE,70,49.2,50,58.50,C,169.2
94,S000842,Jadiel,Terrell,EE,63,88.8,68,67.40,B,219.8
95,S001892,Lukas,Yang,EE,52,25.2,50,43.00,F,127.2
96,S000915,Dakota,Pugh,IE,66,43.2,52,51.60,C-,161.2
97,S000929,Ireland,Matthews,IE,64,70.8,59,61.20,C+,193.8
98,S000932,Erik,Patterson,IE,62,0.0,0,20.00,F,62.0
99,S000944,Emilee,Travis,IE,55,27.6,31,43.80,F,113.6
100,S000951,Nathanael,Benton,IE,59,61.2,76,64.55,B-,196.2
101,S000953,Johnathan,Barnes,IE,82,88.8,68,72.15,A-,238.8
102,S000419,Alijah,Chapman,IE,67,37.2,57,50.60,D+,161.2
103,S000746,Britney,Casey,IE,76,88.8,40,62.25,C+,204.8

In [ ]:
df2

In [82]:
df2.loc['average'] = df2.mean()
df2.loc['min'] = df2.min()
df2.loc['max'] = df2.max()
df2.loc['any'] = ["Orsan",2, 3, 56.5, 5, 6, 7, 8, 9, 10] 
#df2.loc['sum'] = df.sum()
df2

C:\Users\ozene\AppData\Local\Temp\ipykernel_12364\2427684559.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.loc['average'] = df2.mean()
C:\Users\ozene\AppData\Local\Temp\ipykernel_12364\2427684559.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.loc['min'] = df2.min()
C:\Users\ozene\AppData\Local\Temp\ipykernel_12364\2427684559.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.loc['max'] = df2.max()

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
0,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000
1,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000
2,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000
3,S003712,Giovanni,Rowland,CS,56.000000,62.400000,60.000000,60.750000,C+,178.400000
4,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000
5,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000
6,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000
7,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000
8,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000
9,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000
10,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000
11,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000
12,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000
13,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000
14,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000
15,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000
16,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000
17,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000
18,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000
19,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000
20,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000
21,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000
22,S000578,Darren,Choi,CS,50.000000,39.600000,53.000000,49.400000,D+,142.600000
23,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000
24,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000
25,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000
26,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000
27,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000
28,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000
29,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000
30,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000
31,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000
32,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000
33,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000
34,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000
35,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000
36,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000
37,S000665,Rosemary,Pham,CS,62.000000,57.600000,64.000000,61.700000,C+,183.600000
38,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000
39,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000
40,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000
41,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000
42,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000
43,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000
44,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000
45,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000
46,S000702,Gustavo,Byrd,CS,57.000000,43.200000,45.000000,48.750000,D+,145.200000
47,S000746,Britney,Casey,CS,76.000000,88.800000,40.000000,62.250000,C+,204.800000
48,S000337,Alison,Harper,CS,57.000000,55.200000,56.000000,54.550000,C-,168.200000
49,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000
50,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000
51,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000
52,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000
53,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000
54,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000
55,S000793,Savannah,Dunn,IE,48.000000,34.800000,50.000000,42.500000,F,132.800000
56,S000805,Paola,Wu,IE,70.000000,60.000000,54.000000,54.450000,C-,184.000000
57,S000809,Raelynn,Patterson,CS,76.000000,54.000000,66.000000,62.050000,C+,196.000000
58,S000817,Haiden,Houston,IE,83.000000,78.000000,82.000000,75.850000,A-,243.000000
59,S000823,Marco,Howe,IE,71.000000,61.200000,68.000000,66.650000,B,200.200000
60,S000830,Shamar,Martin,IE,65.000000,58.800000,34.000000,49.200000,D+,157.800000
61,S000832,Reed,Alvarez,IE,57.000000,22.800000,54.000000,44.950000,F,133.800000
62,S000370,Carolyn,Rivers,IE,50.000000,46.800000,29.000000,41.450000,F,125.800000
63,S000371,Damon,Humphrey,IE,63.000000,81.600000,72.000000,67.850000,B,216.600000
64,S000372,London,Holden,IE,57.000000,58.800000,65.000000,61.000000,C+,180.800000
65,S000835,Roy,Stephens,IE,70.000000,43.200000,75.000000,57.250000,C,188.200000
66,S000839,Emely,Browning,IE,68.000000,58.800000,70.000000,60.000000,C+,196.800000
67,S000840,Kianna,Harrison,IE,60.000000,52.800000,34.000000,47.450000,D,146.800000
68,S000842,Jadiel,Terrell,IE,63.000000,88.800000,68.000000,67.400000,B,219.800000
69,S001813,Regan,Glover,IE,23.000000,36.000000,43.000000,35.900000,F,102.000000
70,S001025,Rodrigo,Douglas,IE,53.000000,49.200000,25.000000,44.500000,F,127.200000
71,S000381,Tamia,Sanford,IE,48.000000,34.800000,31.000000,39.050000,F,113.800000
72,S002127,Kathryn,Francis,IE,43.000000,42.000000,16.000000,34.050000,F,101.000000
73,S000864,Perla,Allen,IE,70.000000,62.400000,73.000000,62.900000,C+,205.400000
74,S000869,Osvaldo,Sullivan,IE,67.000000,100.800000,69.000000,71.950000,A-,236.800000
75,S000879,Paula,Gilmore,IE,41.000000,20.400000,21.000000,29.800000,F,82.400000
76,S000394,Kailyn,Gibbs,IE,57.000000,31.200000,53.000000,49.400000,D+,141.200000
77,S000397,Jayla,Haynes,IE,41.000000,32.400000,49.000000,40.700000,F,122.400000
78,S001883,Jayden,Mccann,IE,37.000000,49.200000,2.000000,29.100000,F,88.200000
79,S001889,Kaitlyn,Huang,IE,68.000000,56.400000,46.000000,47.050000,D,170.400000
80,S001892,Lukas,Yang,IE,52.000000,25.200000,50.000000,43.000000,F,127.200000
81,S000896,Maria,Bowers,IE,87.000000,58.800000,54.000000,59.950000,C+,199.800000
82,S000899,Jaelyn,Brandt,IE,2.000000,0.000000,0.000000,5.000000,F,2.000000
83,S000901,Adolfo,Marshall,IE,71.000000,79.200000,72.000000,69.350000,B+,222.200000
84,S002127,Kathryn,Francis,ME,43.000000,42.000000,16.000000,34.050000,F,101.000000
85,S000516,Derrick,David,ME,28.000000,48.000000,54.000000,46.700000,D,130.000000
86,S005294,Corinne,Prince,ME,57.000000,54.000000,30.000000,50.250000,D+,141.000000
87,S000899,Jaelyn,Brandt,ME,2.000000,0.000000,0.000000,5.000000,F,2.000000
88,S000964,Cali,Bradshaw,IE,72.000000,70.800000,71.000000,67.550000,B,213.800000
89,S000967,Marin,Chan,IE,70.000000,36.000000,65.000000,59.500000,C+,171.000000
90,S000989,Niko,Doyle,IE,78.000000,120.000000,99.000000,89.200000,A,297.000000
91,S000990,Madisyn,Watson,IE,60.000000,67.200000,66.000000,60.800000,C+,193.200000
92,S000434,Chanel,Holland,IE,86.000000,43.200000,35.000000,53.750000,C-,164.200000
93,S000999,Oliver,Ellis,IE,70.000000,49.200000,50.000000,58.500000,C,169.200000
94,S000842,Jadiel,Terrell,EE,63.000000,88.800000,68.000000,67.400000,B,219.800000
95,S001892,Lukas,Yang,EE,52.000000,25.200000,50.000000,43.000000,F,127.200000
96,S000915,Dakota,Pugh,IE,66.000000,43.200000,52.000000,51.600000,C-,161.200000
97,S000929,Ireland,Matthews,IE,64.000000,70.800000,59.000000,61.200000,C+,193.800000
98,S000932,Erik,Patterson,IE,62.000000,0.000000,0.000000,20.000000,F,62.000000
99,S000944,Emilee,Travis,IE,55.000000,27.600000,31.000000,43.800000,F,113.600000
100,S000951,Nathanael,Benton,IE,59.000000,61.200000,76.000000,64.550000,B-,196.200000
101,S000953,Johnathan,Barnes,IE,82.000000,88.800000,68.000000,72.150000,A-,238.800000
102,S000419,Alijah,Chapman,IE,67.000000,37.200000,57.000000,50.600000,D+,161.200000
103,S000746,Britney,Casey,IE,76.000000,88.800000,40.000000,62.250000,C+,204.800000
average,NaN,NaN,NaN,NaN,62.028846,56.884615,54.644231,55.369231,NaN,173.557692
min,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,5.000000,NaN,2.000000
max,NaN,NaN,NaN,NaN,101.000000,120.000000,99.000000,89.750000,NaN,301.200000
any,Orsan,2,3,56.5,5.000000,6.000000,7.000000,8.000000,9,10.000000

In [84]:
df2.to_excel("output.xlsx",
             sheet_name='GradesFinal')

In [85]:
df2.describe()

              MT1         MT2         MT3       TOTAL  TotalPoints
count  108.000000  108.000000  108.000000  108.000000   108.000000
mean    61.305823   56.471154   54.107817   54.782585   171.636645
std     18.470223   25.210888   22.351098   16.286223    58.031220
min      2.000000    0.000000    0.000000    5.000000     2.000000
25%     52.750000   42.000000   40.000000   47.350000   141.000000
50%     63.500000   54.000000   55.500000   54.950000   174.078846
75%     71.250000   70.800000   68.000000   63.975000   203.450000
max    101.000000  120.000000   99.000000   89.750000   301.200000

In [86]:
df2

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
0,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000
1,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000
2,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000
3,S003712,Giovanni,Rowland,CS,56.000000,62.400000,60.000000,60.750000,C+,178.400000
4,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000
5,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000
6,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000
7,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000
8,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000
9,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000
10,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000
11,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000
12,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000
13,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000
14,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000
15,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000
16,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000
17,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000
18,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000
19,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000
20,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000
21,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000
22,S000578,Darren,Choi,CS,50.000000,39.600000,53.000000,49.400000,D+,142.600000
23,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000
24,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000
25,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000
26,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000
27,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000
28,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000
29,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000
30,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000
31,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000
32,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000
33,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000
34,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000
35,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000
36,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000
37,S000665,Rosemary,Pham,CS,62.000000,57.600000,64.000000,61.700000,C+,183.600000
38,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000
39,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000
40,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000
41,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000
42,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000
43,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000
44,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000
45,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000
46,S000702,Gustavo,Byrd,CS,57.000000,43.200000,45.000000,48.750000,D+,145.200000
47,S000746,Britney,Casey,CS,76.000000,88.800000,40.000000,62.250000,C+,204.800000
48,S000337,Alison,Harper,CS,57.000000,55.200000,56.000000,54.550000,C-,168.200000
49,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000
50,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000
51,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000
52,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000
53,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000
54,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000
55,S000793,Savannah,Dunn,IE,48.000000,34.800000,50.000000,42.500000,F,132.800000
56,S000805,Paola,Wu,IE,70.000000,60.000000,54.000000,54.450000,C-,184.000000
57,S000809,Raelynn,Patterson,CS,76.000000,54.000000,66.000000,62.050000,C+,196.000000
58,S000817,Haiden,Houston,IE,83.000000,78.000000,82.000000,75.850000,A-,243.000000
59,S000823,Marco,Howe,IE,71.000000,61.200000,68.000000,66.650000,B,200.200000
60,S000830,Shamar,Martin,IE,65.000000,58.800000,34.000000,49.200000,D+,157.800000
61,S000832,Reed,Alvarez,IE,57.000000,22.800000,54.000000,44.950000,F,133.800000
62,S000370,Carolyn,Rivers,IE,50.000000,46.800000,29.000000,41.450000,F,125.800000
63,S000371,Damon,Humphrey,IE,63.000000,81.600000,72.000000,67.850000,B,216.600000
64,S000372,London,Holden,IE,57.000000,58.800000,65.000000,61.000000,C+,180.800000
65,S000835,Roy,Stephens,IE,70.000000,43.200000,75.000000,57.250000,C,188.200000
66,S000839,Emely,Browning,IE,68.000000,58.800000,70.000000,60.000000,C+,196.800000
67,S000840,Kianna,Harrison,IE,60.000000,52.800000,34.000000,47.450000,D,146.800000
68,S000842,Jadiel,Terrell,IE,63.000000,88.800000,68.000000,67.400000,B,219.800000
69,S001813,Regan,Glover,IE,23.000000,36.000000,43.000000,35.900000,F,102.000000
70,S001025,Rodrigo,Douglas,IE,53.000000,49.200000,25.000000,44.500000,F,127.200000
71,S000381,Tamia,Sanford,IE,48.000000,34.800000,31.000000,39.050000,F,113.800000
72,S002127,Kathryn,Francis,IE,43.000000,42.000000,16.000000,34.050000,F,101.000000
73,S000864,Perla,Allen,IE,70.000000,62.400000,73.000000,62.900000,C+,205.400000
74,S000869,Osvaldo,Sullivan,IE,67.000000,100.800000,69.000000,71.950000,A-,236.800000
75,S000879,Paula,Gilmore,IE,41.000000,20.400000,21.000000,29.800000,F,82.400000
76,S000394,Kailyn,Gibbs,IE,57.000000,31.200000,53.000000,49.400000,D+,141.200000
77,S000397,Jayla,Haynes,IE,41.000000,32.400000,49.000000,40.700000,F,122.400000
78,S001883,Jayden,Mccann,IE,37.000000,49.200000,2.000000,29.100000,F,88.200000
79,S001889,Kaitlyn,Huang,IE,68.000000,56.400000,46.000000,47.050000,D,170.400000
80,S001892,Lukas,Yang,IE,52.000000,25.200000,50.000000,43.000000,F,127.200000
81,S000896,Maria,Bowers,IE,87.000000,58.800000,54.000000,59.950000,C+,199.800000
82,S000899,Jaelyn,Brandt,IE,2.000000,0.000000,0.000000,5.000000,F,2.000000
83,S000901,Adolfo,Marshall,IE,71.000000,79.200000,72.000000,69.350000,B+,222.200000
84,S002127,Kathryn,Francis,ME,43.000000,42.000000,16.000000,34.050000,F,101.000000
85,S000516,Derrick,David,ME,28.000000,48.000000,54.000000,46.700000,D,130.000000
86,S005294,Corinne,Prince,ME,57.000000,54.000000,30.000000,50.250000,D+,141.000000
87,S000899,Jaelyn,Brandt,ME,2.000000,0.000000,0.000000,5.000000,F,2.000000
88,S000964,Cali,Bradshaw,IE,72.000000,70.800000,71.000000,67.550000,B,213.800000
89,S000967,Marin,Chan,IE,70.000000,36.000000,65.000000,59.500000,C+,171.000000
90,S000989,Niko,Doyle,IE,78.000000,120.000000,99.000000,89.200000,A,297.000000
91,S000990,Madisyn,Watson,IE,60.000000,67.200000,66.000000,60.800000,C+,193.200000
92,S000434,Chanel,Holland,IE,86.000000,43.200000,35.000000,53.750000,C-,164.200000
93,S000999,Oliver,Ellis,IE,70.000000,49.200000,50.000000,58.500000,C,169.200000
94,S000842,Jadiel,Terrell,EE,63.000000,88.800000,68.000000,67.400000,B,219.800000
95,S001892,Lukas,Yang,EE,52.000000,25.200000,50.000000,43.000000,F,127.200000
96,S000915,Dakota,Pugh,IE,66.000000,43.200000,52.000000,51.600000,C-,161.200000
97,S000929,Ireland,Matthews,IE,64.000000,70.800000,59.000000,61.200000,C+,193.800000
98,S000932,Erik,Patterson,IE,62.000000,0.000000,0.000000,20.000000,F,62.000000
99,S000944,Emilee,Travis,IE,55.000000,27.600000,31.000000,43.800000,F,113.600000
100,S000951,Nathanael,Benton,IE,59.000000,61.200000,76.000000,64.550000,B-,196.200000
101,S000953,Johnathan,Barnes,IE,82.000000,88.800000,68.000000,72.150000,A-,238.800000
102,S000419,Alijah,Chapman,IE,67.000000,37.200000,57.000000,50.600000,D+,161.200000
103,S000746,Britney,Casey,IE,76.000000,88.800000,40.000000,62.250000,C+,204.800000
average,NaN,NaN,NaN,NaN,62.028846,56.884615,54.644231,55.369231,NaN,173.557692
min,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,5.000000,NaN,2.000000
max,NaN,NaN,NaN,NaN,101.000000,120.000000,99.000000,89.750000,NaN,301.200000
any,Orsan,2,3,56.5,5.000000,6.000000,7.000000,8.000000,9,10.000000

In [87]:
df2['Department'] = df2['Department'].replace('CS', 'AI')
df2

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
0,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000
1,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000
2,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000
3,S003712,Giovanni,Rowland,AI,56.000000,62.400000,60.000000,60.750000,C+,178.400000
4,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000
5,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000
6,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000
7,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000
8,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000
9,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000
10,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000
11,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000
12,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000
13,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000
14,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000
15,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000
16,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000
17,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000
18,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000
19,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000
20,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000
21,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000
22,S000578,Darren,Choi,AI,50.000000,39.600000,53.000000,49.400000,D+,142.600000
23,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000
24,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000
25,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000
26,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000
27,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000
28,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000
29,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000
30,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000
31,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000
32,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000
33,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000
34,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000
35,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000
36,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000
37,S000665,Rosemary,Pham,AI,62.000000,57.600000,64.000000,61.700000,C+,183.600000
38,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000
39,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000
40,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000
41,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000
42,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000
43,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000
44,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000
45,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000
46,S000702,Gustavo,Byrd,AI,57.000000,43.200000,45.000000,48.750000,D+,145.200000
47,S000746,Britney,Casey,AI,76.000000,88.800000,40.000000,62.250000,C+,204.800000
48,S000337,Alison,Harper,AI,57.000000,55.200000,56.000000,54.550000,C-,168.200000
49,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000
50,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000
51,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000
52,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000
53,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000
54,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000
55,S000793,Savannah,Dunn,IE,48.000000,34.800000,50.000000,42.500000,F,132.800000
56,S000805,Paola,Wu,IE,70.000000,60.000000,54.000000,54.450000,C-,184.000000
57,S000809,Raelynn,Patterson,AI,76.000000,54.000000,66.000000,62.050000,C+,196.000000
58,S000817,Haiden,Houston,IE,83.000000,78.000000,82.000000,75.850000,A-,243.000000
59,S000823,Marco,Howe,IE,71.000000,61.200000,68.000000,66.650000,B,200.200000
60,S000830,Shamar,Martin,IE,65.000000,58.800000,34.000000,49.200000,D+,157.800000
61,S000832,Reed,Alvarez,IE,57.000000,22.800000,54.000000,44.950000,F,133.800000
62,S000370,Carolyn,Rivers,IE,50.000000,46.800000,29.000000,41.450000,F,125.800000
63,S000371,Damon,Humphrey,IE,63.000000,81.600000,72.000000,67.850000,B,216.600000
64,S000372,London,Holden,IE,57.000000,58.800000,65.000000,61.000000,C+,180.800000
65,S000835,Roy,Stephens,IE,70.000000,43.200000,75.000000,57.250000,C,188.200000
66,S000839,Emely,Browning,IE,68.000000,58.800000,70.000000,60.000000,C+,196.800000
67,S000840,Kianna,Harrison,IE,60.000000,52.800000,34.000000,47.450000,D,146.800000
68,S000842,Jadiel,Terrell,IE,63.000000,88.800000,68.000000,67.400000,B,219.800000
69,S001813,Regan,Glover,IE,23.000000,36.000000,43.000000,35.900000,F,102.000000
70,S001025,Rodrigo,Douglas,IE,53.000000,49.200000,25.000000,44.500000,F,127.200000
71,S000381,Tamia,Sanford,IE,48.000000,34.800000,31.000000,39.050000,F,113.800000
72,S002127,Kathryn,Francis,IE,43.000000,42.000000,16.000000,34.050000,F,101.000000
73,S000864,Perla,Allen,IE,70.000000,62.400000,73.000000,62.900000,C+,205.400000
74,S000869,Osvaldo,Sullivan,IE,67.000000,100.800000,69.000000,71.950000,A-,236.800000
75,S000879,Paula,Gilmore,IE,41.000000,20.400000,21.000000,29.800000,F,82.400000
76,S000394,Kailyn,Gibbs,IE,57.000000,31.200000,53.000000,49.400000,D+,141.200000
77,S000397,Jayla,Haynes,IE,41.000000,32.400000,49.000000,40.700000,F,122.400000
78,S001883,Jayden,Mccann,IE,37.000000,49.200000,2.000000,29.100000,F,88.200000
79,S001889,Kaitlyn,Huang,IE,68.000000,56.400000,46.000000,47.050000,D,170.400000
80,S001892,Lukas,Yang,IE,52.000000,25.200000,50.000000,43.000000,F,127.200000
81,S000896,Maria,Bowers,IE,87.000000,58.800000,54.000000,59.950000,C+,199.800000
82,S000899,Jaelyn,Brandt,IE,2.000000,0.000000,0.000000,5.000000,F,2.000000
83,S000901,Adolfo,Marshall,IE,71.000000,79.200000,72.000000,69.350000,B+,222.200000
84,S002127,Kathryn,Francis,ME,43.000000,42.000000,16.000000,34.050000,F,101.000000
85,S000516,Derrick,David,ME,28.000000,48.000000,54.000000,46.700000,D,130.000000
86,S005294,Corinne,Prince,ME,57.000000,54.000000,30.000000,50.250000,D+,141.000000
87,S000899,Jaelyn,Brandt,ME,2.000000,0.000000,0.000000,5.000000,F,2.000000
88,S000964,Cali,Bradshaw,IE,72.000000,70.800000,71.000000,67.550000,B,213.800000
89,S000967,Marin,Chan,IE,70.000000,36.000000,65.000000,59.500000,C+,171.000000
90,S000989,Niko,Doyle,IE,78.000000,120.000000,99.000000,89.200000,A,297.000000
91,S000990,Madisyn,Watson,IE,60.000000,67.200000,66.000000,60.800000,C+,193.200000
92,S000434,Chanel,Holland,IE,86.000000,43.200000,35.000000,53.750000,C-,164.200000
93,S000999,Oliver,Ellis,IE,70.000000,49.200000,50.000000,58.500000,C,169.200000
94,S000842,Jadiel,Terrell,EE,63.000000,88.800000,68.000000,67.400000,B,219.800000
95,S001892,Lukas,Yang,EE,52.000000,25.200000,50.000000,43.000000,F,127.200000
96,S000915,Dakota,Pugh,IE,66.000000,43.200000,52.000000,51.600000,C-,161.200000
97,S000929,Ireland,Matthews,IE,64.000000,70.800000,59.000000,61.200000,C+,193.800000
98,S000932,Erik,Patterson,IE,62.000000,0.000000,0.000000,20.000000,F,62.000000
99,S000944,Emilee,Travis,IE,55.000000,27.600000,31.000000,43.800000,F,113.600000
100,S000951,Nathanael,Benton,IE,59.000000,61.200000,76.000000,64.550000,B-,196.200000
101,S000953,Johnathan,Barnes,IE,82.000000,88.800000,68.000000,72.150000,A-,238.800000
102,S000419,Alijah,Chapman,IE,67.000000,37.200000,57.000000,50.600000,D+,161.200000
103,S000746,Britney,Casey,IE,76.000000,88.800000,40.000000,62.250000,C+,204.800000
average,NaN,NaN,NaN,NaN,62.028846,56.884615,54.644231,55.369231,NaN,173.557692
min,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,5.000000,NaN,2.000000
max,NaN,NaN,NaN,NaN,101.000000,120.000000,99.000000,89.750000,NaN,301.200000
any,Orsan,2,3,56.5,5.000000,6.000000,7.000000,8.000000,9,10.000000

In [88]:
df2.head()

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints
0,S000497,Miracle,Pham,ME,65.0,66.0,67.0,62.85,C+,198.0
1,S002233,Martha,Li,IE,64.0,64.8,39.0,54.70,C-,167.8
2,S000500,Roger,Rollins,IE,57.0,31.2,45.0,43.25,F,133.2
3,S003712,Giovanni,Rowland,AI,56.0,62.4,60.0,60.75,C+,178.4
4,S000507,Josephine,Carpenter,IE,49.0,43.2,67.0,54.85,C-,159.2

In [89]:
df2["TotalPointsShift"] = df2['TotalPoints'].shift(3).fillna(0)
df2.head()

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPointsShift
0,S000497,Miracle,Pham,ME,65.0,66.0,67.0,62.85,C+,198.0,0.0
1,S002233,Martha,Li,IE,64.0,64.8,39.0,54.70,C-,167.8,0.0
2,S000500,Roger,Rollins,IE,57.0,31.2,45.0,43.25,F,133.2,0.0
3,S003712,Giovanni,Rowland,AI,56.0,62.4,60.0,60.75,C+,178.4,198.0
4,S000507,Josephine,Carpenter,IE,49.0,43.2,67.0,54.85,C-,159.2,167.8

In [90]:
df2["TotalPointsAve"] = df2['TotalPoints'].rolling(window=5).mean().fillna(0) 
df2.head(10)

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPointsShift,TotalPointsAve
0,S000497,Miracle,Pham,ME,65.0,66.0,67.0,62.85,C+,198.0,0.0,0.00
1,S002233,Martha,Li,IE,64.0,64.8,39.0,54.70,C-,167.8,0.0,0.00
2,S000500,Roger,Rollins,IE,57.0,31.2,45.0,43.25,F,133.2,0.0,0.00
3,S003712,Giovanni,Rowland,AI,56.0,62.4,60.0,60.75,C+,178.4,198.0,0.00
4,S000507,Josephine,Carpenter,IE,49.0,43.2,67.0,54.85,C-,159.2,167.8,167.32
5,S000513,Jean,Mayo,ME,68.0,66.0,72.0,66.60,B,206.0,133.2,168.92
6,S000516,Derrick,David,EE,28.0,48.0,54.0,46.70,D,130.0,178.4,161.36
7,S000518,Jamir,Larsen,EE,79.0,72.0,65.0,67.00,B,216.0,159.2,177.92
8,S001379,Elvis,Donovan,IE,58.0,36.0,77.0,57.10,C,171.0,206.0,176.44
9,S000233,Maryjane,Levine,ME,64.0,63.6,47.0,52.35,C-,174.6,130.0,179.52

In [91]:
df2["MaxTotalPoints"] = df2['TotalPoints'].rolling(window=5).max().shift(1).fillna(0)
df2["MinTotalPoints"] = df2['TotalPoints'].rolling(window=5).min().shift(1).fillna(0)
df2.head(10)

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPointsShift,TotalPointsAve,MaxTotalPoints,MinTotalPoints
0,S000497,Miracle,Pham,ME,65.0,66.0,67.0,62.85,C+,198.0,0.0,0.00,0.0,0.0
1,S002233,Martha,Li,IE,64.0,64.8,39.0,54.70,C-,167.8,0.0,0.00,0.0,0.0
2,S000500,Roger,Rollins,IE,57.0,31.2,45.0,43.25,F,133.2,0.0,0.00,0.0,0.0
3,S003712,Giovanni,Rowland,AI,56.0,62.4,60.0,60.75,C+,178.4,198.0,0.00,0.0,0.0
4,S000507,Josephine,Carpenter,IE,49.0,43.2,67.0,54.85,C-,159.2,167.8,167.32,0.0,0.0
5,S000513,Jean,Mayo,ME,68.0,66.0,72.0,66.60,B,206.0,133.2,168.92,198.0,133.2
6,S000516,Derrick,David,EE,28.0,48.0,54.0,46.70,D,130.0,178.4,161.36,206.0,133.2
7,S000518,Jamir,Larsen,EE,79.0,72.0,65.0,67.00,B,216.0,159.2,177.92,206.0,130.0
8,S001379,Elvis,Donovan,IE,58.0,36.0,77.0,57.10,C,171.0,206.0,176.44,216.0,130.0
9,S000233,Maryjane,Levine,ME,64.0,63.6,47.0,52.35,C-,174.6,130.0,179.52,216.0,130.0

In [92]:
df2['Improve'] = np.where(df2['MT2']> df2['MT1'], 1, 0)
df2.head(10)

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPointsShift,TotalPointsAve,MaxTotalPoints,MinTotalPoints,Improve
0,S000497,Miracle,Pham,ME,65.0,66.0,67.0,62.85,C+,198.0,0.0,0.00,0.0,0.0,1
1,S002233,Martha,Li,IE,64.0,64.8,39.0,54.70,C-,167.8,0.0,0.00,0.0,0.0,1
2,S000500,Roger,Rollins,IE,57.0,31.2,45.0,43.25,F,133.2,0.0,0.00,0.0,0.0,0
3,S003712,Giovanni,Rowland,AI,56.0,62.4,60.0,60.75,C+,178.4,198.0,0.00,0.0,0.0,1
4,S000507,Josephine,Carpenter,IE,49.0,43.2,67.0,54.85,C-,159.2,167.8,167.32,0.0,0.0,0
5,S000513,Jean,Mayo,ME,68.0,66.0,72.0,66.60,B,206.0,133.2,168.92,198.0,133.2,0
6,S000516,Derrick,David,EE,28.0,48.0,54.0,46.70,D,130.0,178.4,161.36,206.0,133.2,1
7,S000518,Jamir,Larsen,EE,79.0,72.0,65.0,67.00,B,216.0,159.2,177.92,206.0,130.0,0
8,S001379,Elvis,Donovan,IE,58.0,36.0,77.0,57.10,C,171.0,206.0,176.44,216.0,130.0,0
9,S000233,Maryjane,Levine,ME,64.0,63.6,47.0,52.35,C-,174.6,130.0,179.52,216.0,130.0,0

In [93]:
df2.shift(+1).add_prefix('a')

,aStudentID,aName,aLastName,aDepartment,aMT1,aMT2,aMT3,aTOTAL,aGrade,aTotalPoints,aTotalPointsShift,aTotalPointsAve,aMaxTotalPoints,aMinTotalPoints,aImprove
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000,0.0,0.000000,0.0,0.0,1.0
2,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000,0.0,0.000000,0.0,0.0,1.0
3,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000,0.0,0.000000,0.0,0.0,0.0
4,S003712,Giovanni,Rowland,AI,56.000000,62.400000,60.000000,60.750000,C+,178.400000,198.0,0.000000,0.0,0.0,1.0
5,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000,167.8,167.320000,0.0,0.0,0.0
6,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000,133.2,168.920000,198.0,133.2,0.0
7,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000,178.4,161.360000,206.0,133.2,1.0
8,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000,159.2,177.920000,206.0,130.0,0.0
9,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000,206.0,176.440000,216.0,130.0,0.0
10,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000,130.0,179.520000,216.0,130.0,0.0
11,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000,216.0,168.280000,216.0,130.0,0.0
12,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000,171.0,202.520000,216.0,130.0,1.0
13,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000,174.6,199.920000,301.2,149.8,0.0
14,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000,149.8,199.440000,301.2,149.8,0.0
15,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000,301.2,208.760000,301.2,149.8,0.0
16,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000,203.0,214.440000,301.2,149.8,0.0
17,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000,168.6,212.280000,301.2,168.6,1.0
18,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000,221.2,202.520000,290.4,168.6,0.0
19,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000,178.2,210.320000,290.4,154.2,0.0
20,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000,290.4,200.280000,290.4,154.2,1.0
21,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000,154.2,201.440000,290.4,154.2,0.0
22,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000,207.6,164.360000,290.4,154.2,0.0
23,S000578,Darren,Choi,AI,50.000000,39.600000,53.000000,49.400000,D+,142.600000,171.0,162.040000,207.6,105.0,0.0
24,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000,184.0,167.520000,207.6,105.0,1.0
25,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000,105.0,154.000000,235.0,105.0,1.0
26,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000,142.6,157.320000,235.0,103.4,0.0
27,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000,235.0,164.520000,235.0,103.4,0.0
28,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000,103.4,193.240000,235.0,103.4,0.0
29,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000,200.6,184.360000,286.2,103.4,0.0
30,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000,141.0,200.160000,286.2,103.4,1.0
31,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000,286.2,205.160000,286.2,141.0,1.0
32,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000,190.6,226.240000,286.2,141.0,0.0
33,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000,182.4,225.880000,286.2,182.4,1.0
34,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000,225.6,220.680000,284.4,182.4,0.0
35,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000,246.4,229.440000,284.4,164.6,0.0
36,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000,284.4,216.520000,284.4,164.6,0.0
37,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000,164.6,191.800000,284.4,161.0,0.0
38,S000665,Rosemary,Pham,AI,62.000000,57.600000,64.000000,61.700000,C+,183.600000,226.2,171.640000,284.4,122.8,0.0
39,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000,161.0,190.800000,226.2,122.8,1.0
40,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000,122.8,183.680000,260.4,122.8,1.0
41,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000,183.6,187.200000,260.4,122.8,0.0
42,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000,260.4,197.880000,260.4,122.8,0.0
43,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000,190.6,186.200000,260.4,176.2,0.0
44,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000,178.6,177.920000,260.4,125.2,0.0
45,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000,176.2,170.560000,219.0,125.2,0.0
46,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000,125.2,167.640000,219.0,125.2,1.0
47,S000702,Gustavo,Byrd,AI,57.000000,43.200000,45.000000,48.750000,D+,145.200000,219.0,161.440000,219.0,125.2,0.0
48,S000746,Britney,Casey,AI,76.000000,88.800000,40.000000,62.250000,C+,204.800000,153.8,177.360000,219.0,125.2,1.0
49,S000337,Alison,Harper,AI,57.000000,55.200000,56.000000,54.550000,C-,168.200000,164.0,167.200000,219.0,145.2,0.0
50,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000,145.2,171.480000,204.8,145.2,1.0
51,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000,204.8,174.840000,204.8,145.2,0.0
52,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000,168.2,186.360000,204.8,145.2,1.0
53,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000,175.2,178.440000,204.8,168.2,0.0
54,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000,180.8,176.080000,202.8,165.2,1.0
55,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000,202.8,179.720000,202.8,156.4,1.0
56,S000793,Savannah,Dunn,IE,48.000000,34.800000,50.000000,42.500000,F,132.800000,165.2,170.120000,202.8,156.4,0.0
57,S000805,Paola,Wu,IE,70.000000,60.000000,54.000000,54.450000,C-,184.000000,156.4,166.360000,202.8,132.8,0.0
58,S000809,Raelynn,Patterson,AI,76.000000,54.000000,66.000000,62.050000,C+,196.000000,193.4,172.520000,193.4,132.8,0.0
59,S000817,Haiden,Houston,IE,83.000000,78.000000,82.000000,75.850000,A-,243.000000,132.8,189.840000,196.0,132.8,0.0
60,S000823,Marco,Howe,IE,71.000000,61.200000,68.000000,66.650000,B,200.200000,184.0,191.200000,243.0,132.8,0.0
61,S000830,Shamar,Martin,IE,65.000000,58.800000,34.000000,49.200000,D+,157.800000,196.0,196.200000,243.0,132.8,0.0
62,S000832,Reed,Alvarez,IE,57.000000,22.800000,54.000000,44.950000,F,133.800000,243.0,186.160000,243.0,157.8,0.0
63,S000370,Carolyn,Rivers,IE,50.000000,46.800000,29.000000,41.450000,F,125.800000,200.2,172.120000,243.0,133.8,0.0
64,S000371,Damon,Humphrey,IE,63.000000,81.600000,72.000000,67.850000,B,216.600000,157.8,166.840000,243.0,125.8,1.0
65,S000372,London,Holden,IE,57.000000,58.800000,65.000000,61.000000,C+,180.800000,133.8,162.960000,216.6,125.8,1.0
66,S000835,Roy,Stephens,IE,70.000000,43.200000,75.000000,57.250000,C,188.200000,125.8,169.040000,216.6,125.8,0.0
67,S000839,Emely,Browning,IE,68.000000,58.800000,70.000000,60.000000,C+,196.800000,216.6,181.640000,216.6,125.8,0.0
68,S000840,Kianna,Harrison,IE,60.000000,52.800000,34.000000,47.450000,D,146.800000,180.8,185.840000,216.6,125.8,0.0
69,S000842,Jadiel,Terrell,IE,63.000000,88.800000,68.000000,67.400000,B,219.800000,188.2,186.480000,216.6,146.8,1.0
70,S001813,Regan,Glover,IE,23.000000,36.000000,43.000000,35.900000,F,102.000000,196.8,170.720000,219.8,146.8,1.0
71,S001025,Rodrigo,Douglas,IE,53.000000,49.200000,25.000000,44.500000,F,127.200000,146.8,158.520000,219.8,102.0,0.0
72,S000381,Tamia,Sanford,IE,48.000000,34.800000,31.000000,39.050000,F,113.800000,219.8,141.920000,219.8,102.0,0.0
73,S002127,Kathryn,Francis,IE,43.000000,42.000000,16.000000,34.050000,F,101.000000,102.0,132.760000,219.8,102.0,0.0
74,S000864,Perla,Allen,IE,70.000000,62.400000,73.000000,62.900000,C+,205.400000,127.2,129.880000,219.8,101.0,0.0
75,S000869,Osvaldo,Sullivan,IE,67.000000,100.800000,69.000000,71.950000,A-,236.800000,113.8,156.840000,205.4,101.0,1.0
76,S000879,Paula,Gilmore,IE,41.000000,20.400000,21.000000,29.800000,F,82.400000,101.0,147.880000,236.8,101.0,0.0
77,S000394,Kailyn,Gibbs,IE,57.000000,31.200000,53.000000,49.400000,D+,141.200000,205.4,153.360000,236.8,82.4,0.0
78,S000397,Jayla,Haynes,IE,41.000000,32.400000,49.000000,40.700000,F,122.400000,236.8,157.640000,236.8,82.4,0.0
79,S001883,Jayden,Mccann,IE,37.000000,49.200000,2.000000,29.100000,F,88.200000,82.4,134.200000,236.8,82.4,1.0
80,S001889,Kaitlyn,Huang,IE,68.000000,56.400000,46.000000,47.050000,D,170.400000,141.2,120.920000,236.8,82.4,0.0
81,S001892,Lukas,Yang,IE,52.000000,25.200000,50.000000,43.000000,F,127.200000,122.4,129.880000,170.4,82.4,0.0
82,S000896,Maria,Bowers,IE,87.000000,58.800000,54.000000,59.950000,C+,199.800000,88.2,141.600000,170.4,88.2,0.0
83,S000899,Jaelyn,Brandt,IE,2.000000,0.000000,0.000000,5.000000,F,2.000000,170.4,117.520000,199.8,88.2,0.0
84,S000901,Adolfo,Marshall,IE,71.000000,79.200000,72.000000,69.350000,B+,222.200000,127.2,144.320000,199.8,2.0,1.0
85,S002127,Kathryn,Francis,ME,43.000000,42.000000,16.000000,34.050000,F,101.000000,199.8,130.440000,222.2,2.0,0.0
86,S000516,Derrick,David,ME,28.000000,48.000000,54.000000,46.700000,D,130.000000,2.0,131.000000,222.2,2.0,1.0
87,S005294,Corinne,Prince,ME,57.000000,54.000000,30.000000,50.250000,D+,141.000000,222.2,119.240000,222.2,2.0,0.0
88,S000899,Jaelyn,Brandt,ME,2.000000,0.000000,0.000000,5.000000,F,2.000000,101.0,119.240000,222.2,2.0,0.0
89,S000964,Cali,Bradshaw,IE,72.000000,70.800000,71.000000,67.550000,B,213.800000,130.0,117.560000,222.2,2.0,0.0
90,S000967,Marin,Chan,IE,70.000000,36.000000,65.000000,59.500000,C+,171.000000,141.0,131.560000,213.8,2.0,0.0
91,S000989,Niko,Doyle,IE,78.000000,120.000000,99.000000,89.200000,A,297.000000,2.0,164.960000,213.8,2.0,1.0
92,S000990,Madisyn,Watson,IE,60.000000,67.200000,66.000000,60.800000,C+,193.200000,213.8,175.400000,297.0,2.0,1.0
93,S000434,Chanel,Holland,IE,86.000000,43.200000,35.000000,53.750000,C-,164.200000,171.0,207.840000,297.0,2.0,0.0
94,S000999,Oliver,Ellis,IE,70.000000,49.200000,50.000000,58.500000,C,169.200000,297.0,198.920000,297.0,164.2,0.0
95,S000842,Jadiel,Terrell,EE,63.000000,88.800000,68.000000,67.400000,B,219.800000,193.2,208.680000,297.0,164.2,1.0
96,S001892,Lukas,Yang,EE,52.000000,25.200000,50.000000,43.000000,F,127.200000,164.2,174.720000,297.0,164.2,0.0
97,S000915,Dakota,Pugh,IE,66.000000,43.200000,52.000000,51.600000,C-,161.200000,169.2,168.320000,219.8,127.2,0.0
98,S000929,Ireland,Matthews,IE,64.000000,70.800000,59.000000,61.200000,C+,193.800000,219.8,174.240000,219.8,127.2,1.0
99,S000932,Erik,Patterson,IE,62.000000,0.000000,0.000000,20.000000,F,62.000000,127.2,152.800000,219.8,127.2,0.0
100,S000944,Emilee,Travis,IE,55.000000,27.600000,31.000000,43.800000,F,113.600000,161.2,131.560000,219.8,62.0,0.0
101,S000951,Nathanael,Benton,IE,59.000000,61.200000,76.000000,64.550000,B-,196.200000,193.8,145.360000,193.8,62.0,1.0
102,S000953,Johnathan,Barnes,IE,82.000000,88.800000,68.000000,72.150000,A-,238.800000,62.0,160.880000,196.2,62.0,1.0
103,S000419,Alijah,Chapman,IE,67.000000,37.200000,57.000000,50.600000,D+,161.200000,113.6,154.360000,238.8,62.0,0.0
average,S000746,Britney,Casey,IE,76.000000,88.800000,40.000000,62.250000,C+,204.800000,196.2,182.920000,238.8,62.0,1.0
min,NaN,NaN,NaN,NaN,62.028846,56.884615,54.644231,55.369231,NaN,173.557692,238.8,194.911538,238.8,113.6,0.0
max,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,5.000000,NaN,2.000000,161.2,156.071538,238.8,161.2,0.0
any,NaN,NaN,NaN,NaN,101.000000,120.000000,99.000000,89.750000,NaN,301.200000,204.8,168.551538,238.8,2.0,1.0

In [94]:
dfNew = pd.concat([
   df2, 
   df2.shift(+1).add_prefix('a'),
   df2.shift(+2).add_prefix('b'),    
], axis=1).fillna(0)

dfNew

,StudentID,Name,LastName,Department,MT1,MT2,MT3,TOTAL,Grade,TotalPoints,TotalPointsShift,TotalPointsAve,MaxTotalPoints,MinTotalPoints,Improve,aStudentID,aName,aLastName,aDepartment,aMT1,aMT2,aMT3,aTOTAL,aGrade,aTotalPoints,aTotalPointsShift,aTotalPointsAve,aMaxTotalPoints,aMinTotalPoints,aImprove,bStudentID,bName,bLastName,bDepartment,bMT1,bMT2,bMT3,bTOTAL,bGrade,bTotalPoints,bTotalPointsShift,bTotalPointsAve,bMaxTotalPoints,bMinTotalPoints,bImprove
0,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000,0.000000,0.000000,0.0,0.0,1,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.0,0.000000,0.0,0.0,0.0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000,0.000000,0.000000,0.0,0.0,1,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000,0.0,0.000000,0.0,0.0,1.0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000,0.000000,0.000000,0.0,0.0,0,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000,0.0,0.000000,0.0,0.0,1.0,S000497,Miracle,Pham,ME,65.000000,66.000000,67.000000,62.850000,C+,198.000000,0.0,0.000000,0.0,0.0,1.0
3,S003712,Giovanni,Rowland,AI,56.000000,62.400000,60.000000,60.750000,C+,178.400000,198.000000,0.000000,0.0,0.0,1,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000,0.0,0.000000,0.0,0.0,0.0,S002233,Martha,Li,IE,64.000000,64.800000,39.000000,54.700000,C-,167.800000,0.0,0.000000,0.0,0.0,1.0
4,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000,167.800000,167.320000,0.0,0.0,0,S003712,Giovanni,Rowland,AI,56.000000,62.400000,60.000000,60.750000,C+,178.400000,198.0,0.000000,0.0,0.0,1.0,S000500,Roger,Rollins,IE,57.000000,31.200000,45.000000,43.250000,F,133.200000,0.0,0.000000,0.0,0.0,0.0
5,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000,133.200000,168.920000,198.0,133.2,0,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000,167.8,167.320000,0.0,0.0,0.0,S003712,Giovanni,Rowland,AI,56.000000,62.400000,60.000000,60.750000,C+,178.400000,198.0,0.000000,0.0,0.0,1.0
6,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000,178.400000,161.360000,206.0,133.2,1,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000,133.2,168.920000,198.0,133.2,0.0,S000507,Josephine,Carpenter,IE,49.000000,43.200000,67.000000,54.850000,C-,159.200000,167.8,167.320000,0.0,0.0,0.0
7,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000,159.200000,177.920000,206.0,130.0,0,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000,178.4,161.360000,206.0,133.2,1.0,S000513,Jean,Mayo,ME,68.000000,66.000000,72.000000,66.600000,B,206.000000,133.2,168.920000,198.0,133.2,0.0
8,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000,206.000000,176.440000,216.0,130.0,0,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000,159.2,177.920000,206.0,130.0,0.0,S000516,Derrick,David,EE,28.000000,48.000000,54.000000,46.700000,D,130.000000,178.4,161.360000,206.0,133.2,1.0
9,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000,130.000000,179.520000,216.0,130.0,0,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000,206.0,176.440000,216.0,130.0,0.0,S000518,Jamir,Larsen,EE,79.000000,72.000000,65.000000,67.000000,B,216.000000,159.2,177.920000,206.0,130.0,0.0
10,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000,216.000000,168.280000,216.0,130.0,0,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000,130.0,179.520000,216.0,130.0,0.0,S001379,Elvis,Donovan,IE,58.000000,36.000000,77.000000,57.100000,C,171.000000,206.0,176.440000,216.0,130.0,0.0
11,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000,171.000000,202.520000,216.0,130.0,1,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000,216.0,168.280000,216.0,130.0,0.0,S000233,Maryjane,Levine,ME,64.000000,63.600000,47.000000,52.350000,C-,174.600000,130.0,179.520000,216.0,130.0,0.0
12,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000,174.600000,199.920000,301.2,149.8,0,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000,171.0,202.520000,216.0,130.0,1.0,S000525,Serenity,Dougherty,IE,75.000000,34.800000,40.000000,49.250000,D+,149.800000,216.0,168.280000,216.0,130.0,0.0
13,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000,149.800000,199.440000,301.2,149.8,0,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000,174.6,199.920000,301.2,149.8,0.0,S000531,Rose,Nicholson,IE,101.000000,115.200000,85.000000,89.750000,A,301.200000,171.0,202.520000,216.0,130.0,1.0
14,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000,301.200000,208.760000,301.2,149.8,0,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000,149.8,199.440000,301.2,149.8,0.0,S000535,Annalise,Hull,IE,73.000000,66.000000,64.000000,66.950000,B,203.000000,174.6,199.920000,301.2,149.8,0.0
15,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000,203.000000,214.440000,301.2,149.8,0,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000,301.2,208.760000,301.2,149.8,0.0,S000536,Johnny,Christian,IE,62.000000,51.600000,55.000000,55.500000,C-,168.600000,149.8,199.440000,301.2,149.8,0.0
16,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000,168.600000,212.280000,301.2,168.6,1,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000,203.0,214.440000,301.2,149.8,0.0,S000245,Phillip,Mcpherson,IE,74.000000,67.200000,80.000000,67.750000,B,221.200000,301.2,208.760000,301.2,149.8,0.0
17,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000,221.200000,202.520000,290.4,168.6,0,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000,168.6,212.280000,301.2,168.6,1.0,S000543,Damien,Bowman,IE,70.000000,43.200000,65.000000,56.500000,C,178.200000,203.0,214.440000,301.2,149.8,0.0
18,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000,178.200000,210.320000,290.4,154.2,0,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000,221.2,202.520000,290.4,168.6,0.0,S000548,Amaya,Sutton,IE,87.000000,110.400000,93.000000,87.650000,A,290.400000,168.6,212.280000,301.2,168.6,1.0
19,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000,290.400000,200.280000,290.4,154.2,1,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000,178.2,210.320000,290.4,154.2,0.0,S000563,Koen,Watson,IE,51.000000,37.200000,66.000000,53.800000,C-,154.200000,221.2,202.520000,290.4,168.6,0.0
20,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000,154.200000,201.440000,290.4,154.2,0,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000,290.4,200.280000,290.4,154.2,1.0,S000571,Renee,Marquez,IE,79.000000,45.600000,83.000000,63.900000,B-,207.600000,178.2,210.320000,290.4,154.2,0.0
21,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000,207.600000,164.360000,290.4,154.2,0,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000,154.2,201.440000,290.4,154.2,0.0,S000253,Eliza,David,IE,58.000000,90.000000,23.000000,49.150000,D+,171.000000,290.4,200.280000,290.4,154.2,1.0
22,S000578,Darren,Choi,AI,50.000000,39.600000,53.000000,49.400000,D+,142.600000,171.000000,162.040000,207.6,105.0,0,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000,207.6,164.360000,290.4,154.2,0.0,S000588,Jaycee,Rich,IE,78.000000,42.000000,64.000000,60.200000,C+,184.000000,154.2,201.440000,290.4,154.2,0.0
23,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000,184.000000,167.520000,207.6,105.0,1,S000578,Darren,Choi,AI,50.000000,39.600000,53.000000,49.400000,D+,142.600000,171.0,162.040000,207.6,105.0,0.0,S001061,Junior,Mcdaniel,IE,43.000000,30.000000,32.000000,37.100000,F,105.000000,207.6,164.360000,290.4,154.2,0.0
24,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000,105.000000,154.000000,235.0,105.0,1,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000,184.0,167.520000,207.6,105.0,1.0,S000578,Darren,Choi,AI,50.000000,39.600000,53.000000,49.400000,D+,142.600000,171.0,162.040000,207.6,105.0,0.0
25,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000,142.600000,157.320000,235.0,103.4,0,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000,105.0,154.000000,235.0,105.0,1.0,S002154,Lea,Williamson,IE,71.000000,84.000000,80.000000,69.000000,B+,235.000000,184.0,167.520000,207.6,105.0,1.0
26,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000,235.000000,164.520000,235.0,103.4,0,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000,142.6,157.320000,235.0,103.4,0.0,S000591,Mariam,Patterson,IE,32.000000,32.400000,39.000000,39.200000,F,103.400000,105.0,154.000000,235.0,105.0,1.0
27,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000,103.400000,193.240000,235.0,103.4,0,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000,235.0,164.520000,235.0,103.4,0.0,S001499,Lamar,Davila,IE,79.000000,51.600000,70.000000,62.000000,C+,200.600000,142.6,157.320000,235.0,103.4,0.0
28,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000,200.600000,184.360000,286.2,103.4,0,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000,103.4,193.240000,235.0,103.4,0.0,S005294,Corinne,Prince,IE,57.000000,54.000000,30.000000,50.250000,D+,141.000000,235.0,164.520000,235.0,103.4,0.0
29,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000,141.000000,200.160000,286.2,103.4,1,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000,200.6,184.360000,286.2,103.4,0.0,S000597,Jalen,Gentry,IE,99.000000,97.200000,90.000000,87.750000,A,286.200000,103.4,193.240000,235.0,103.4,0.0
30,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000,286.200000,205.160000,286.2,141.0,1,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000,141.0,200.160000,286.2,103.4,1.0,S001509,Arturo,Costa,IE,68.000000,63.600000,59.000000,60.700000,C+,190.600000,200.6,184.360000,286.2,103.4,0.0
31,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000,190.600000,226.240000,286.2,141.0,0,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000,286.2,205.160000,286.2,141.0,1.0,S000602,Cecilia,Singh,IE,61.000000,62.400000,59.000000,50.450000,D+,182.400000,141.0,200.160000,286.2,103.4,1.0
32,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000,182.400000,225.880000,286.2,182.4,1,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000,190.6,226.240000,286.2,141.0,0.0,S000608,Scarlett,Solomon,IE,74.000000,75.600000,76.000000,69.800000,B+,225.600000,286.2,205.160000,286.2,141.0,1.0
33,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000,225.600000,220.680000,284.4,182.4,0,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000,182.4,225.880000,286.2,182.4,1.0,S000612,Ulises,Mosley,IE,85.000000,80.400000,81.000000,75.800000,A-,246.400000,190.6,226.240000,286.2,141.0,0.0
34,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000,246.400000,229.440000,284.4,164.6,0,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000,225.6,220.680000,284.4,182.4,0.0,S000627,Chad,Steele,IE,82.000000,110.400000,92.000000,84.600000,A,284.400000,182.4,225.880000,286.2,182.4,1.0
35,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000,284.400000,216.520000,284.4,164.6,0,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000,246.4,229.440000,284.4,164.6,0.0,S000629,Lola,Lambert,IE,67.000000,45.600000,52.000000,52.350000,C-,164.600000,225.6,220.680000,284.4,182.4,0.0
36,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000,164.600000,191.800000,284.4,161.0,0,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000,284.4,216.520000,284.4,164.6,0.0,S000641,Bethany,Proctor,IE,80.000000,79.200000,67.000000,67.850000,B,226.200000,246.4,229.440000,284.4,164.6,0.0
37,S000665,Rosemary,Pham,AI,62.000000,57.600000,64.000000,61.700000,C+,183.600000,226.200000,171.640000,284.4,122.8,0,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000,164.6,191.800000,284.4,161.0,0.0,S000642,Ronin,Cisneros,IE,52.000000,42.000000,67.000000,52.350000,C-,161.000000,284.4,216.520000,284.4,164.6,0.0
38,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000,161.000000,190.800000,226.2,122.8,1,S000665,Rosemary,Pham,AI,62.000000,57.600000,64.000000,61.700000,C+,183.600000,226.2,171.640000,284.4,122.8,0.0,S001567,Gia,Kent,IE,49.000000,40.800000,33.000000,40.400000,F,122.800000,164.6,191.800000,284.4,161.0,0.0
39,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000,122.800000,183.680000,260.4,122.8,1,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000,161.0,190.800000,226.2,122.8,1.0,S000665,Rosemary,Pham,AI,62.000000,57.600000,64.000000,61.700000,C+,183.600000,226.2,171.640000,284.4,122.8,0.0
40,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000,183.600000,187.200000,260.4,122.8,0,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000,122.8,183.680000,260.4,122.8,1.0,S001599,Isiah,Dillon,IE,71.000000,110.400000,79.000000,76.450000,A-,260.400000,161.0,190.800000,226.2,122.8,1.0
41,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000,260.400000,197.880000,260.4,122.8,0,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000,183.6,187.200000,260.4,122.8,0.0,S000477,Sara,Braun,IE,63.000000,75.600000,52.000000,56.850000,C,190.600000,122.8,183.680000,260.4,122.8,1.0
42,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000,190.600000,186.200000,260.4,176.2,0,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000,260.4,197.880000,260.4,122.8,0.0,S000299,Jerry,Guerra,IE,65.000000,45.600000,68.000000,58.150000,C,178.600000,183.6,187.200000,260.4,122.8,0.0
43,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000,178.600000,177.920000,260.4,125.2,0,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000,190.6,186.200000,260.4,176.2,0.0,S000686,Samson,Cuevas,IE,72.000000,43.200000,61.000000,55.050000,C-,176.200000,260.4,197.880000,260.4,122.8,0.0
44,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000,176.200000,170.560000,219.0,125.2,0,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000,178.6,177.920000,260.4,125.2,0.0,S000688,Breanna,Patterson,IE,51.000000,49.200000,25.000000,45.500000,F,125.200000,190.6,186.200000,260.4,176.2,0.0
45,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000,125.200000,167.640000,219.0,125.2,1,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000,176.2,170.560000,219.0,125.2,0.0,S000696,Alejandro,Barton,IE,80.000000,66.000000,73.000000,69.900000,B+,219.000000,178.6,177.920000,260.4,125.2,0.0
46,S000702,Gustavo,Byrd,AI,57.000000,43.200000,45.000000,48.750000,D+,145.200000,219.000000,161.440000,219.0,125.2,0,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000,125.2,167.640000,219.0,125.2,1.0,S001638,Dayami,Zuniga,IE,67.000000,52.800000,34.000000,50.700000,D+,153.800000,176.2,170.560000,219.0,125.2,0.0
47,S000746,Britney,Casey,AI,76.000000,88.800000,40.000000,62.250000,C+,204.800000,153.800000,177.360000,219.0,125.2,1,S000702,Gustavo,Byrd,AI,57.000000,43.200000,45.000000,48.750000,D+,145.200000,219.0,161.440000,219.0,125.2,0.0,S001639,Jesse,Watts,IE,47.000000,66.000000,51.000000,50.550000,D+,164.000000,125.2,167.640000,219.0,125.2,1.0
48,S000337,Alison,Harper,AI,57.000000,55.200000,56.000000,54.550000,C-,168.200000,164.000000,167.200000,219.0,145.2,0,S000746,Britney,Casey,AI,76.000000,88.800000,40.000000,62.250000,C+,204.800000,153.8,177.360000,219.0,125.2,1.0,S000702,Gustavo,Byrd,AI,57.000000,43.200000,45.000000,48.750000,D+,145.200000,219.0,161.440000,219.0,125.2,0.0
49,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000,145.200000,171.480000,204.8,145.2,1,S000337,Alison,Harper,AI,57.000000,55.200000,56.000000,54.550000,C-,168.200000,164.0,167.200000,219.0,145.2,0.0,S000746,Britney,Casey,AI,76.000000,88.800000,40.000000,62.250000,C+,204.800000,153.8,177.360000,219.0,125.2,1.0
50,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000,204.800000,174.840000,204.8,145.2,0,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000,145.2,171.480000,204.8,145.2,1.0,S000337,Alison,Harper,AI,57.000000,55.200000,56.000000,54.550000,C-,168.200000,164.0,167.200000,219.0,145.2,0.0
51,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000,168.200000,186.360000,204.8,145.2,1,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000,204.8,174.840000,204.8,145.2,0.0,S000762,Raquel,Merritt,IE,59.000000,73.200000,43.000000,51.900000,C-,175.200000,145.2,171.480000,204.8,145.2,1.0
52,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000,175.200000,178.440000,204.8,168.2,0,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000,168.2,186.360000,204.8,145.2,1.0,S000779,Isaiah,Jensen,IE,66.000000,52.800000,62.000000,50.600000,D+,180.800000,204.8,174.840000,204.8,145.2,0.0
53,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000,180.800000,176.080000,202.8,165.2,1,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000,175.2,178.440000,204.8,168.2,0.0,S001746,Kylan,David,IE,43.000000,70.800000,89.000000,64.200000,B-,202.800000,168.2,186.360000,204.8,145.2,1.0
54,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000,202.800000,179.720000,202.8,156.4,1,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000,180.8,176.080000,202.8,165.2,1.0,S001748,Kyra,Campos,IE,66.000000,37.200000,62.000000,52.600000,C-,165.200000,175.2,178.440000,204.8,168.2,0.0
55,S000793,Savannah,Dunn,IE,48.000000,34.800000,50.000000,42.500000,F,132.800000,165.200000,170.120000,202.8,156.4,0,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000,202.8,179.720000,202.8,156.4,1.0,S000346,Alexa,Bradley,EE,57.000000,68.400000,31.000000,53.550000,C-,156.400000,180.8,176.080000,202.8,165.2,1.0
56,S000805,Paola,Wu,IE,70.000000,60.000000,54.000000,54.450000,C-,184.000000,156.400000,166.360000,202.8,132.8,0,S000793,Savannah,Dunn,IE,48.000000,34.800000,50.000000,42.500000,F,132.800000,165.2,170.120000,202.8,156.4,0.0,S001750,Kaelyn,Petty,EE,74.000000,74.400000,45.000000,58.000000,C,193.400000,202.8,179.720000,202.8,156.4,1.0

In [95]:
# create two sample dataframes
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [4, 5, 6], 'B': [7, 8, 9]})

df1

   A  B
0  1  4
1  2  5
2  3  6

In [96]:
df2

   A  B
0  4  7
1  5  8
2  6  9

In [97]:
# concatenate the two dataframes along rows
concatenated_df = pd.concat([df1, df2], axis=0)

concatenated_df

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9

In [98]:
pd.concat([df1, df2], axis=1)

   A  B  A  B
0  1  4  4  7
1  2  5  5  8
2  3  6  6  9

In [99]:
concatenated_df

   A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8
2  6  9